# Misc
.DS_Store
notes.md
fixname.sh

# IDEs
**/.vscode
**/.idea
**/*.code-workspace

# Helper Scripts
run-docker.sh
run-backend.sh
requests.txt

# Local build tools installed via Taskfiles
build

# Local Formatting
.prettierrc
