# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
__debug_bin

# IDEs
.idea
.vscode

# e2e data
e2e/data

# Compiled frontend
build

# Local configs
config.yaml
config
config-*.yaml

frontend/src/utils/interpreter/compiled

*.pem