.overviewGrid {

    h3 {
        margin-bottom: 22px;
        margin-top: 6px;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--color-foreground);
    }

}
