.configGroupTable {
    width: 100%;

    display: grid;
    /* columns:            name, value, isEdited, buttons  */
    grid-template-columns: minmax(300px, auto) auto auto 1fr;
    align-items: center;
    gap: 12px;

    .searchBar {
        grid-column-start: span 4;
        margin-bottom: 1em;
    }

    .configGroupSpacer {
        grid-column-start: span 4;
        margin: 1em 0em;
        height: 1px;
        background: hsl(0deg, 0%, 80%);

        &:first-of-type {
            display: none;
        }
    }

    .configGroupTitle {
        grid-column-start: span 4;
        font-size: 1.5em;
        font-weight: 600;
    }

    .isEditted {
        opacity: .5;
        margin-left: 20px;
        margin-right: 20px;
    }

    .configButtons {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        font-size: 18px;
        color: hsl(0deg 0% 35%);

        .btnEdit {
            display: inline-flex;
            font-size: 21px;
            padding: 1px;
            border-radius: 3px;
            cursor: pointer;

            &:not(.disabled):hover {
                color: var(--ant-primary-color);
                background: rgb(239 239 239);
            }

            &.disabled {
                cursor: default;
                svg {
                    opacity: 0.5;
                }
            }
        }
    }
}
