.configGroupTable {
    width: max(500px, 50%);

    display: grid;
    /* columns:            name, value, isEditted, <space>, buttons  */
    grid-template-columns:
        minmax(200px, auto) minmax(250px, auto) auto 1fr auto;
    align-items: center;
    gap: 11px 8px;

    .searchBar {
        grid-column-start: span 5;
        margin-bottom: 1em;
    }

    .configGroupSpacer {
        grid-column-start: span 5;
        margin: 1em 0em;
        height: 1px;
        background: hsl(0deg, 0%, 80%);

        &:first-of-type {
            display: none;
        }
    }

    .configGroupTitle {
        grid-column-start: span 5;
        font-size: 1.5em;
        font-weight: 600;
    }

    .configName {
        display: flex;
        align-items: center;
        align-self: flex-start;
        padding-right: 1em;

        font-weight: 500;
    }

    .configValue {
        padding-left: 12px;
        margin-right: auto;

        .ant-select {
            min-width: 12em;
        }
    }

    .isEditted {
        opacity: .5;
        margin-right: 3em;
    }

    .configButtons {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        font-size: 18px;
        color: hsl(0deg 0% 35%);

        .btnEdit {
            display: inline-flex;
            font-size: 21px;
            padding: 1px;
            border-radius: 3px;
            cursor: pointer;

            &:not(.disabled):hover {
                color: var(--ant-primary-color);
                background: rgb(239 239 239);

                // color: var(--ant-primary-color);
                // border-bottom-color: var(--ant-primary-5);
            }

            &.disabled {
                cursor: default;
                svg {
                    opacity: 0.5;
                }
            }
        }
    }
}

.configModal {

    .ant-modal-body {
        padding: 2em;

        .ant-modal-confirm-title {
            display: flex;
            align-items: center;
            gap: 4px;

            svg {
                font-size: 1.5em;
            }
        }

        .ant-modal-confirm-body {

            .ant-modal-confirm-title {
                font-weight: 700;
            }

            .ant-modal-confirm-content {
                margin-left: 0;
            }
        }

    }

    .ant-modal-confirm-btns {
        display: flex;
        flex-direction: row-reverse;
        gap: 8px;
    }
}

.ratioInput {
    display:flex;
    align-items: center;

    .ant-slider{
        flex-grow:1;
        min-width: 80px;
    }
    .numericInput, .ant-input-number, .ant-input-number-group-wrapper {
        flex-basis: 100px;
    }
}
