.default {
    color: #bfbfbf;
}

.overidden {
    font-weight: 700;
}

.name {
    font-family: monospace;
    background-color: #f5f5f5;
    border: solid thin #d1d1d1;
    border-radius: 3px;
    display: inline-block;
    padding: 1px 4px;
    color: #696969;
}

.type {
    color: #cb398f;
    font-family: monospace;
}

.nested {
    :global(.ant-table) {
        background: transparent;
    }
}

.configEntryTable {
    :global(.ant-table-row-level-1) {
        background: #f5f5f5;

        td {
            border-bottom-color: #e7e7e7;
        }

        .name {
            background-color: #ececec;
        }
    }
}

.sourceHeader {
    display: flex;
    justify-content: space-between;
}
