/**
 * Copyright 2022 Redpanda Data, Inc.
 *
 * Use of this software is governed by the Business Source License
 * included in the file https://github.com/redpanda-data/redpanda/blob/dev/licenses/bsl.md
 *
 * As of the Change Date specified in that file, in accordance with
 * the Business Source License, use of this software will be governed
 * by the Apache License, Version 2.0
 */

.radioCardGroup {
  list-style: none;
  margin: 1rem 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;

  & > li,
  & > li > label {
    display: contents;
  }

  & > li > label {
    cursor: pointer;
  }

  & > li > label > input {
    display: none;
  }
}
