/**
 * Copyright 2022 Redpanda Data, Inc.
 *
 * Use of this software is governed by the Business Source License
 * included in the file https://github.com/redpanda-data/redpanda/blob/dev/licenses/bsl.md
 *
 * As of the Change Date specified in that file, in accordance with
 * the Business Source License, use of this software will be governed
 * by the Apache License, Version 2.0
 */

.copyHint {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: .4em 1em;

    background: rgba(0, 0, 0, 0.66);
    border-radius: 3px;

    color: #fff;
    font-family: 'Open Sans';
    font-size: 12px;

    cursor: default;
    user-select: none;
}

.tooltipTransformFix {
    transform-origin: center center !important;
}