/**
 * Copyright 2022 Redpanda Data, Inc.
 *
 * Use of this software is governed by the Business Source License
 * included in the file https://github.com/redpanda-data/redpanda/blob/dev/licenses/bsl.md
 *
 * As of the Change Date specified in that file, in accordance with
 * the Business Source License, use of this software will be governed
 * by the Apache License, Version 2.0
 */

.headersEditor>table {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1.5em;

    thead>tr> {
        th {
            background: #fafafa;
            font-weight: 500;
            color: #444;
        }

        th.index {
            min-width: 24px;
        }

        th.name {
            width: 35%;
        }

        th.value {
            width: 100%;
        }

        th.actions {
            min-width: 100px;
        }
    }

    thead {
        display: none;
    }

    th,
    td {
        // $padSides: 8px;
        // padding: $padSides 10px;

        // Move sides in
        // &:first-child {
        //     padding-left: $padSides*2.5;
        // }

        // &:last-child {
        //     padding-left: $padSides*2.5;
        // }
        padding: 0;

        // index
        &:nth-child(1) {
            text-align: center;
            // font-size: 1.0em;
            // font-weight: 500;
            }
            }

    th,
    tr:not(:last-child) {
        // border-bottom: 1px solid #eee;
    }

    td {
        // padding-top: 12px;
        // padding-bottom: 12px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    th:not(:last-child, :first-child) {
        border-right: 1px solid #eee;
    }

    .iconButton {
        color: hsl(0, 0%, 35%);
    }
    
    .index {
        padding: 4px;
        padding-top: 5px;
        font-size: 11px;
        color: hsl(0, 0%, 45%);
    
        &::after {
            content: '.';
        }
    }
    
    .name {
        width: 33%;
    
        >input {
    
            &:hover,
            &:focus-within {
                z-index: 1;
            }
        }
    }
    
    .value>input {
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    
        &:hover,
        &:focus-within {
            z-index: 1;
        }
    }
    
    .actions {
        padding-left: 4px;
        width: 70px;
    }
}