:root {
  --base-50: oklch(1 0 0);
  --base-100: oklch(0.9699 0 0);
  --base-200: oklch(0.9218 0 0);
  --base-300: oklch(0.8697 0 0);
  --base-400: oklch(0.7077 0 0);
  --base-500: oklch(0.5557 0 0);
  --base-600: oklch(0.4387 0 0);
  --base-700: oklch(0.3707 0 0);
  --base-800: oklch(0.2688 0 0);
  --base-900: oklch(0.2048 0 0);
  --base-950: oklch(0.1449 0 0);
  --base-1000: oklch(0.1059 0 0);

  --primary-50: oklch(0.953 0.019 25.6);
  --primary-100: oklch(0.9265 0.03 30.64);
  --primary-200: oklch(0.8366 0.071 30.62);
  --primary-300: oklch(0.7512 0.115 31.21);
  --primary-400: oklch(0.6744 0.16 32.12);
  --primary-500: oklch(0.6111 0.2 32.16);
  --primary-600: oklch(0.5278 0.178 32.26);
  --primary-700: oklch(0.4358 0.145 32.16);
  --primary-800: oklch(0.3369 0.107 32.44);
  --primary-900: oklch(0.2795 0.085 32.44);
  --primary-950: oklch(0.2211 0.067 32.44);
  --primary-1000: oklch(0.1627 0.05 32.44);

  --secondary-50: oklch(0.958 0.007 268.55);
  --secondary-100: oklch(0.9325 0.012 259.82);
  --secondary-200: oklch(0.8462 0.027 262.33);
  --secondary-300: oklch(0.7563 0.046 265.5);
  --secondary-400: oklch(0.5547 0.087 264.14);
  --secondary-500: oklch(0.4734 0.073 264.32);
  --secondary-600: oklch(0.3485 0.047 262.99);
  --secondary-700: oklch(0.2817 0.037 264.6);
  --secondary-800: oklch(0.2348 0.031 262.56);
  --secondary-900: oklch(0.236 0.029 266.34);
  --secondary-950: oklch(0.1895 0.033 266.34);
  --secondary-1000: oklch(0.1428 0.037 266.34);

  --sidebar-light: oklch(0.2348 0.0314 262.56);
  --sidebar-dark: oklch(0.3351 0.0331 260.91);

  --background: var(--base-50);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--secondary-900);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-100);
  --muted-foreground: var(--base-600);
  --accent: var(--base-100);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--selected);
  --chart-1: var(--primary-500);
  --chart-2: var(--secondary-900);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --radius: 0.5rem;
  --shadow-elevated: 4px 4px 0px 0px oklch(0 0 0 / 0.08);
  --sidebar: var(--sidebar-light);
  --sidebar-foreground: var(--base-200);
  --sidebar-primary: var(--primary-500);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: oklch(1 0 0 / 8%);
  --sidebar-accent-foreground: var(--base-100);
  --sidebar-border: var(--base-600);
  --sidebar-ring: var(--primary-500);
  --selection: oklch(0.8462 0.027 262.33);
  --selection-foreground: var(--base-800);
  --sidebar-selection: oklch(0.5547 0.087 264.14);
  --sidebar-selection-foreground: oklch(1 0 0);
  --selected: oklch(0.2348 0.0314 262.56);
  --selected-foreground: oklch(1 0 0);
}

@custom-variant dark (&:is(.dark *));

.dark {
  --background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-900);
  --card-foreground: var(--base-200);
  --popover: var(--base-900);
  --popover-foreground: var(--base-200);
  --primary: var(--primary-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--secondary-900);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-800);
  --muted-foreground: var(--base-300);
  --accent: var(--base-800);
  --accent-foreground: var(--base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--primary-500);
  --chart-1: var(--primary-500);
  --chart-2: var(--secondary-900);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --shadow-elevated: 4px 4px 0px 0px oklch(1 0 0 / 0.04);
  --sidebar: var(--sidebar-dark);
  --sidebar-foreground: var(--base-100);
  --sidebar-primary: var(--primary-500);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: oklch(0 0 0 / 24%);
  --sidebar-accent-foreground: var(--base-100);
  --sidebar-border: var(--base-500);
  --sidebar-ring: var(--primary-500);
  --selection: oklch(0.8462 0.027 262.33);
  --selection-foreground: var(--base-200);
  --sidebar-selection: oklch(0.5547 0.087 264.14);
  --sidebar-selection-foreground: oklch(1 0 0);
  --selected: oklch(1 0 0);
  --selected-foreground: oklch(0.2348 0.0314 262.56);
}

@theme inline {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-1000: var(--secondary-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--selected);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);
  --color-sidebar-selection: var(--sidebar-selection);
  --color-sidebar-selection-foreground: var(--sidebar-selection-foreground);
  --color-selected: var(--selected);
  --color-selected-foreground: var(--selected-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-elevated: var(--shadow-elevated);
  --shadow-shadow-elevated: var(--shadow-elevated);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  ::selection {
    background-color: var(--selection);
    color: var(--selection-foreground);
  }

  [data-sidebar] *::selection,
  [data-slot*="sidebar"] *::selection {
    background-color: var(--sidebar-selection) !important;
    color: var(--sidebar-selection-foreground) !important;
  }

  body {
    @apply bg-background text-foreground;
    overscroll-behavior: none;
  }

  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }

  :root {
    --chart-1: 18 85% 53%;
    --chart-2: 18 95% 70%;
    --chart-3: 18 75% 63%;
    --chart-4: 18 95% 85%;
    --chart-5: 18 82% 45%;
  }

  .dark {
    --chart-1: 18 95% 70%;
    --chart-2: 18 75% 63%;
    --chart-3: 18 95% 85%;
    --chart-4: 18 85% 53%;
    --chart-5: 18 82% 45%;
  }
}

.prose {
  @apply max-w-[65ch] text-foreground;

  & h1:not(.not-prose h1) {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  & h2:not(.not-prose h2) {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight mt-12 first:mt-0;
  }

  & h3:not(.not-prose h3) {
    @apply scroll-m-20 text-2xl font-semibold mt-12 tracking-tight first:mt-0;
  }

  & h4:not(.not-prose h4) {
    @apply scroll-m-20 text-xl font-semibold mt-12 tracking-tight first:mt-0;
  }

  & h5:not(.not-prose h5) {
    @apply scroll-m-20 text-lg font-semibold mt-12 tracking-tight first:mt-0;
  }

  & h6:not(.not-prose h6) {
    @apply scroll-m-20 text-base font-semibold mt-12 tracking-tight first:mt-0;
  }

  & h1:not(.not-prose h1),
  & h2:not(.not-prose h2),
  & h3:not(.not-prose h3),
  & h4:not(.not-prose h4),
  & h5:not(.not-prose h5),
  & h6:not(.not-prose h6) {
    & + p {
      @apply mt-0;
    }
  }

  & p:not(.not-prose p) {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  & a:not(.not-prose a) {
    @apply font-medium text-primary underline underline-offset-4;
  }

  & blockquote:not(.not-prose blockquote) {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  & table:not(.not-prose table) {
    @apply my-6 w-full overflow-y-auto;

    & thead tr {
      @apply m-0 border-t p-0 even:bg-muted;
    }

    & th {
      @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
    }

    & tbody tr {
      @apply m-0 border-t p-0 even:bg-muted;
    }

    & td {
      @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
    }
  }

  & ul:not(.not-prose ul) {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;

    & p {
      @apply my-0 inline;
    }
  }

  & ol:not(.not-prose ol) {
    @apply my-6 ml-6 list-decimal [&>li]:mt-2;

    & p {
      @apply my-0 inline;
    }
  }

  & pre:not(.not-prose pre) {
    @apply bg-muted rounded-md p-4 my-6 text-sm overflow-y-auto;
  }

  & code:not(pre code):not(.not-prose code) {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }

  & .lead:not(.not-prose .lead) {
    @apply text-xl text-muted-foreground;
  }

  & .large:not(.not-prose .large) {
    @apply text-lg font-semibold;
  }

  & .small:not(.not-prose .small) {
    @apply text-sm font-medium leading-none;
  }

  & .muted:not(.not-prose .muted) {
    @apply text-sm text-muted-foreground;
  }

  & img:not(.not-prose img),
  & picture:not(.not-prose picture),
  & video:not(.not-prose video) {
    @apply my-6;
  }

  & picture > img:not(.not-prose picture > img) {
    @apply my-0;
  }

  & kbd:not(.not-prose kbd) {
    @apply rounded-md bg-muted px-1.5 py-0.5 text-xs font-semibold;
  }

  & hr {
    @apply my-10;
  }

  & dl:not(.not-prose dl) {
    @apply my-6;

    & dt {
      @apply font-semibold mt-6 tracking-tight first:mt-0;
    }
  }

  & details:not(.not-prose details) {
    @apply mt-6;

    & summary {
      @apply cursor-pointer font-semibold mt-6 tracking-tight;
    }

    & p {
      @apply [&:first-of-type]:mt-2;
    }
  }

  & mark:not(.not-prose mark) {
    @apply bg-yellow-300;
  }

  & small:not(.not-prose small) {
    @apply text-xs leading-none;
  }
}
