body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    list-style-type: none;
    background: #f0f2f5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.scroll-on-hover-y {
    overflow-y: hidden;
    overflow-x: hidden;
}

.scroll-on-hover-y:hover {
    overflow-y: auto;
}

.cell {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.cell-overflow {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cellDiv {
    display: inline-block;
    /* padding-right: 2em; */
    width: 0;
    min-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: text-bottom;
}

/*
	Fixes for react-json-view
*/

/* remove the unneccesary fold-button at the root */

/* .react-json-view>div>div>div>span:first-of-type {
	display: none;
}

.react-json-view>div>div>div>span:last-of-type {
	display: none;
} */

/* - Last two selectors fix the faulty indenting when there's a fold-button */

.icon-container {
    position: absolute;
    width: auto;
    transform: translateX(-85%);
}

span>.icon-container~span {
    display: inline !important;
}

/* - fix root indenting */

/* .react-json-view>div>div>div>div>div>div {
	padding-left: 1em !important;
	border-left: 0 !important;
} */

.react-json-view {
    padding-left: 1em;
}

.hoverButton {
    border-color: transparent;
    box-shadow: none;
}

.hoverButton:hover .ant-avatar {
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.showOnHover {
    opacity: 0.2;
}

.showOnHover:hover {
    opacity: 1;
}

.spinner {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: inline-block;
    /* margin    : auto;
	position        : absolute;
	left            : 0;
	right           : 0;
	top             : 0;
	bottom          : 0;
	margin          : auto; */
}

.spinner {
    border: 3px solid transparent;
    border-bottom-color: hsl(205, 100%, 50%);
    border-top-color: hsl(205, 100%, 50%);
    animation: rotate 0.7s linear 0s infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.pulsating {
    animation: pulse 0.5s linear 0s infinite;
}

@keyframes pulse {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    to {
        transform: 1.0;
    }
}

.fadeIn {
    animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu-divider-group-title {
    color: transparent;
    height: 1px;
    background: #fff2;
    /* margin    : 1em; */
    text-overflow: clip;
    /* font-size : 0; */
    transition: all 0.3s ease-out 0s;
}

.menu-divider {
    color: transparent;
    height: 1px;
    background: #fff2;
    text-overflow: clip;
    transition: all 0.3s ease-out 0s;
    margin: 1em 1em;
}

.cursor-pointer {
    cursor: pointer;
}

.hoverLink:hover {
    cursor: pointer;
    color: hsl(205, 100%, 50%);
}

.pureDisplayRow {
    color: inherit;
}

/* */

/* Table size={'middle} */

/* */

.ant-table-middle {
    /* Header height */
    --headerVertical: 10px;
    /* Row height */
    --padRowHeight: 8px;
    /* Cell horizontal */
    --padCells: 12px;
    /* Outside left/right */
    --padOutside: 16px;
}

.ant-table.ant-table-middle .ant-table-thead>tr>th {
    /* Header: middle (normal + sorter)*/
    padding: var(--headerVertical) var(--padCells);
}

.ant-table.ant-table-middle .ant-table-thead>tr>th:first-child {
    /* Header: first (normal + sorter)*/
    padding-left: var(--padOutside);
}

.ant-table.ant-table-middle .ant-table-thead>tr>th:last-child {
    /* Header: last (normal + sorter)*/
    padding-right: var(--padOutside);
}

.ant-table.ant-table-middle .ant-table-thead .ant-table-column-sorters {
    padding: 0;
}

.ant-table.ant-table-middle .ant-table-thead th.ant-table-column-has-sorters {
    padding: var(--headerVertical) var(--padCells);
}

.ant-table.ant-table-middle .ant-table-tbody>tr>td {
    /* Cell: middle */
    padding: var(--padRowHeight) var(--padCells);
}

.ant-table.ant-table-middle .ant-table-tbody>tr>td:first-child {
    /* Cell: first */
    padding-left: var(--padOutside);
}

.ant-table.ant-table-middle .ant-table-tbody>tr>td:last-child {
    /* Cell: last */
    padding-right: var(--padOutside);
}

.ant-table-tbody>tr:hover>td {
    transition-duration: 0s, 0s !important;
}

.ant-table-tbody>tr>td {
    transition-duration: 0s, 0s !important;
}

/* */

/* */

/* Don't clip animated page headers */

.ant-page-header-heading {
    overflow: visible;
}

.ant-table-tbody>tr:hover:not(.ant-table-row-selected), .pureDisplayRow>td {
    background-color: initial !important;
}

.ant-pagination-total-text {
    font-size: 13px;
    opacity: 80%;
}

.ant-pagination-item {
    border-color: transparent;
    background-color: transparent;
}

.ant-table-pagination.ant-pagination {
    margin-bottom: 4px;
}

/* .ant-pagination-item a {
    color: hsl(205, 100%, 55%)
}
*/

.ant-pagination-item-active a {
    font-weight: bold;
    cursor: default;
}

.fadeIn3d {
    opacity: 1;
    transform: translateY(0) perspective(10em) rotateX(0) scale(1, 1);
    transition: all 0.15s ease-out;
}

.fadeOut3d {
    opacity: 0;
    transform: translateY(.1em) perspective(6em) rotateX(30deg) scale(0.85, 0.85);
    transition: all 0.1s ease-out;
}

.query-form {
    margin-bottom: 1em;
}

.error-list {
    padding: 2em;
    margin: 1em 0;
    background: hsla(205, 15%, 90%, 1);
    border-radius: 6px;
}

.codeBox {
    margin-top: 1em;
    margin-bottom: 0;
    padding: 0.2em 0.4em 0.1em;
    font-size: 85%;
    background: rgb(241, 241, 241);
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    font-family: monospace;
}

.version {
    color: hsla(205, 32%, 46%, 0.4);
    font-size: 80%;
    margin: .5em auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.version .repo {
    opacity: 0.1;
    padding: 4px;
}

.version .repo:hover {
    opacity: .8;
}

.hoverBorder {
    border-color: transparent;
}

.hoverBorder:hover {
    border-color: unset;
}

.ant-result {
    padding: 1em 2em;
}

.ant-table {
    white-space: nowrap;
}

.whiteSpaceDefault {
    white-space: normal;
}

.consumerGroupCompleteID {
    white-space: normal;
    word-break: break-all;
}

.consumerGroupName {
    white-space: nowrap;
}

.consumerGroupSuffix {
    opacity: 0.4;
    white-space: nowrap;
    font-size: 66%;
}

.groupLagDisplayLine {
    font-size: 85%;
    margin-bottom: .2em;
}

.groupLagDisplayLine:not(:last-child) {
    padding-bottom: 0.2em;
    border-bottom: 1px solid #eee;
}

.login {
    display: flex;
    place-content: center;
    place-items: center;
    height: 100vh;
    background: rgb(233, 233, 233);
    font-family: 'Quicksand', sans-serif;
}

.loginContainer {
    width: 970px;
    height: 600px;
    background: #fafafa;
    overflow: overlay;
    box-shadow: 8px 8px 16px 1px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    font-size: 22px;
    line-height: 23px;
    /* or 107% */
    display: flex;
    align-items: center;
    color: #498FC2;
}

.loginContainerRight {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    color: #fafafa;
    text-align: center;
    font-weight: 500;
    padding: 2rem 0;
}

.loginLeft {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
}

.loginRight {
    position: relative;
    height: 100%;
    background: linear-gradient(338.72deg, #0a64a7 0%, #08273e 94.27%) no-repeat;
    opacity: 0.8;
    flex-grow: 1;
    /* background      : url('assets/pattern.png') repeat-x;
    background-position: bottom; */
    /* background      : linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('assets/pattern.png') repeat; */
}

.loginRight::after {
    content: "";
    background: url('assets/pattern3.png') repeat-x 330px bottom;
    background-position-y: 115%;
    mix-blend-mode: hard-light;
    opacity: 35%;
    zoom: 80%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.loginLogo {
    color: #f5f5f5;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    place-items: center;
}

.loginButtonList {
    display: flex;
    place-content: center;
    place-items: center;
    margin-top: 1rem;
}

.loginSeperator {
    margin: 0rem 2rem;
    width: 1px;
    min-height: 100px;
    background: rgba(255, 255, 255, 0.287);
}

.loginButton2 {
    cursor: pointer;
    width: 130px;
    height: 85px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(23, 23, 23);
    background: #3a618899;
    border-radius: 2px;
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
}

.loginButton2 i {
    font-size: 28px;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.loginButton2:hover {
    color: #fff;
    background: hsla(5, 100%, 64%, 1);
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.loginButton2:hover i {
    font-size: 45px;
    color: #fff;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: hsla(209, 72%, 59%, 0.68);
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: hsla(209, 75%, 66%, 1);
    border-color: hsla(209, 50%, 55%, 1);
}

.ant-btn-primary {
    background-color: hsla(209, 66%, 55%, 1);
    border-color: transparent;
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: hsla(206, 80%, 55%, 1);
    background: #00b9ff17;
}

.ant-tabs-ink-bar {
    background-color: hsla(209, 75%, 60%, 1);
}

button.ant-btn-circle>i.anticon:only-child {
    transform: translateY(-2px)
}

tr.tombstone {
    /* background: rgba(200, 200, 200, 0.09); */
    color: rgba(0, 0, 0, 0.25);
}

tr.tombstone .ant-table-row-expand-icon {
    display: none;
}

.kowlCard {
    margin: 0;
    margin-bottom: .75rem;
    padding: 1rem 1.5rem;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.02);
}

.avatarMenu {
    min-width: 150px;
}

.ant-tabs-nav {
    width: 100%;
}

.ant-tabs-nav>div {
    display: flex;
}

.ant-tabs-nav .ant-tabs-tab {
    flex: 1;
    text-align: center;
}

.overflowYOverlay {
    overflow-y: overlay;
}

/* tr td:nth-child(1) {
    padding-left: 30px !important;
}

tr td:nth-last-child(1) {
    padding-right: 30px !important;
} */

.ant-statistic {
    margin-right: 2rem;
}

.noSelect {
    user-select: none;
}

.iconButton {
    transition-duration: 0ms;
    transition-delay: 0ms;
}

tr button.ant-btn-link {
    opacity: 0;
}

tr:hover button.ant-btn-link {
    opacity: 1;
}

.ant-table-middle>.ant-table-content>.ant-table-body>table>.ant-table-tbody>tr>td.msgTableActionColumn {
    padding-left: 0;
}

.fill {
    width: 100%;
    height: 100%;
}

.roleTitle {
    font-size: 110%;
    font-weight: bold;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    margin-bottom: .5rem;
}

.ant-table.ant-table-middle .ant-table-thead>tr>th.ant-table-cell.ant-table-row-expand-icon-cell {
    padding: 0px;
}

.ant-table.ant-table-middle .ant-table-tbody>tr>td.ant-table-cell.ant-table-row-expand-icon-cell {
    padding: 0px;
}

.ant-table-expand-icon-col {
    width: 1px;
}

button.ant-table-row-expand-icon {
    margin-left: 12px;
}

/* Fix: make it possible to configure column width */

td .ant-table-cell {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

tr.consumerGroupNoMemberAssigned {
    color: rgba(0, 0, 0, 0.25);
}

.labelText {
    margin-bottom: 3px;
    margin-left: 1px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.45);
    font-size: 0.7em;
    font-weight: 600;
    text-transform: uppercase;
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 20%) 5%, rgba(0, 0, 0, 0) 100%) bottom no-repeat;
    background-size: 100% 1px; */
}

.ant-space-horizontal {
    flex-wrap: wrap;
}

.ant-tabs .ant-tabs-top-content>.ant-tabs-tabpane, .ant-tabs .ant-tabs-bottom-content>.ant-tabs-tabpane {
    transition-duration: 0.15s;
    transition-timing-function: ease-out
}

@media only screen and (max-width: 1100px) {
    .ant-statistic-content {
        font-size: 20px;
        line-height: 1.3;
    }
}