body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    list-style-type: none;
    background: #f0f2f5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.scroll-on-hover-y {
    overflow-y: hidden;
    overflow-x: hidden;
}

.scroll-on-hover-y:hover {
    overflow-y: auto;
}

.cell {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.cell-overflow {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cellDiv {
    display: inline-block;
    /* padding-right: 2em; */
    width: 0;
    min-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: text-bottom;
}

/*
	Fixes for react-json-view
*/
/* remove the unneccesary fold-button at the root */
/* .react-json-view>div>div>div>span:first-of-type {
	display: none;
}

.react-json-view>div>div>div>span:last-of-type {
	display: none;
} */
/* - Last two selectors fix the faulty indenting when there's a fold-button */
.icon-container {
    position: absolute;
    width: auto;
    transform: translateX(-80%) translateY(-1px);

    .expanded-icon {
        display: inline-block;
        transform: translateX(-2px);
    }
}

span>.icon-container~span {
    display: inline !important;
}

.node-ellipsis {
    line-height: 0px !important;
}

.object-meta-data {
    user-select: none;
}

/* - fix root indenting */
/* .react-json-view>div>div>div>div>div>div {
	padding-left: 1em !important;
	border-left: 0 !important;
} */
.react-json-view {
    padding-left: 1em;
}

.hoverButton {
    border-color: transparent;
    box-shadow: none;
}

.hoverButton:hover .ant-avatar {
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.showOnHover {
    opacity: 0.2;
}

.showOnHover:hover {
    opacity: 1;
}

.spinner {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: inline-block;
    /* margin    : auto;
	position        : absolute;
	left            : 0;
	right           : 0;
	top             : 0;
	bottom          : 0;
	margin          : auto; */
}

.spinner {
    border: 2px solid transparent;
    border-bottom-color: hsl(205, 100%, 50%);
    border-top-color: hsl(205, 100%, 50%);
    animation:
        rotateIn 1.2s cubic-bezier(0.25, 0.80, 0.9, 0.9) 0s 1,
        rotate 0.7s linear 1.2s infinite,
        spinnerFadeIn 0.5s ease 0s 1;
}

@keyframes rotateIn {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1800deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spinnerFadeIn {
    from {
        opacity: 0;
        scale: 120%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.pulsating {
    animation: pulse 0.5s linear 0s infinite;
}

@keyframes pulse {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
    }

    to {
        transform: 1.0;
    }
}

.fadeIn {
    animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu-divider-group-title {
    color: transparent;
    height: 1px;
    background: #fff2;
    /* margin    : 1em; */
    text-overflow: clip;
    /* font-size : 0; */
    transition: all 0.3s ease-out 0s;
}

.menu-divider {
    color: transparent;
    height: 1px;
    background: #fff2;
    text-overflow: clip;
    transition: all 0.3s ease-out 0s;
    margin: 1em 1em;
}

.cursor-pointer {
    cursor: pointer;
}

.hoverLink:hover {
    cursor: pointer;
    color: hsl(205, 100%, 50%);
}

.pureDisplayRow {
    color: inherit;
}

/* */
/* Table size={'middle} */
/* */
.ant-table-middle {
    /* Header height */
    --headerVertical: 10px;
    /* Row height */
    --padRowHeight: 8px;
    /* Cell horizontal */
    --padCells: 12px;
    /* Outside left/right */
    --padOutside: 16px;
}

.ant-table.ant-table-middle .ant-table-thead>tr>th {
    /* Header: middle (normal + sorter)*/
    padding: var(--headerVertical) var(--padCells);
}

.ant-table.ant-table-middle .ant-table-thead>tr>th:first-child:not(.ant-table-row-expand-icon-cell) {
    /* Header: first (normal + sorter)*/
    padding-left: var(--padOutside);
}

.ant-table.ant-table-middle .ant-table-thead>tr>th:last-child {
    /* Header: last (normal + sorter)*/
    padding-right: var(--padOutside);
}

.ant-table.ant-table-middle .ant-table-thead .ant-table-column-sorters {
    padding: 0;
}

.ant-table.ant-table-middle .ant-table-thead th.ant-table-column-has-sorters {
    padding: var(--headerVertical) var(--padCells);
}

.ant-table.ant-table-middle .ant-table-tbody>tr>td {
    /* Cell: middle */
    padding: var(--padRowHeight) var(--padCells);
}

.ant-table.ant-table-middle .ant-table-tbody>tr>td:first-child:not(.ant-table-row-expand-icon-cell) {
    /* Cell: first */
    padding-left: var(--padOutside);
}

.ant-table.ant-table-middle .ant-table-tbody>tr>td:last-child {
    /* Cell: last */
    padding-right: var(--padOutside);
}

.ant-table-tbody>tr:hover>td {
    transition-duration: 0s, 0s !important;
}

.ant-table-tbody>tr>td {
    transition-duration: 0s, 0s !important;
}

/* never break table headers */
.ant-table-thead>tr>th {
    white-space: nowrap;
}

/* */
/* */
/* Don't clip animated page headers */
.ant-page-header-heading {
    overflow: visible;
}

.ant-table-tbody>tr:hover:not(.ant-table-row-selected),
.pureDisplayRow>td {
    background-color: initial !important;
}

.ant-pagination-total-text {
    font-size: 13px;
    opacity: 80%;
}

.ant-pagination-item {
    border-color: transparent;
    background-color: transparent;
}

.ant-table-pagination.ant-pagination {
    margin-bottom: 4px;
}

/* .ant-pagination-item a {
    color: hsl(205, 100%, 55%)
}
*/
.ant-pagination-item-active a {
    font-weight: bold;
    cursor: default;
}

.fadeIn3d {
    opacity: 1;
    transform: translateY(0) perspective(10em) rotateX(0) scale(1, 1);
    transition: all 0.15s ease-out;
}

.fadeOut3d {
    opacity: 0;
    transform: translateY(.1em) perspective(6em) rotateX(30deg) scale(0.85, 0.85);
    transition: all 0.1s ease-out;
}

.query-form {
    margin-bottom: 1em;
}

.error-list {
    display: flex;
    flex-direction: column;
    gap: 0.7em;

    padding: 2em;
    margin: 1em 0;
    background: hsla(205, 15%, 90%, 1);
    border-radius: 6px;
}

.codeBox {
    display: inline-block;
    margin: 0;
    padding: 0em 0.4em 0em;
    white-space: pre-wrap;
    font-size: 85%;
    font-family: monospace;

    background: rgb(241, 241, 241);
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 3px;
}

.w100 {
    width: 100%;
}

.version {
    padding-bottom: .5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    opacity: 0.2;
}

.version,
.version span[role=img] {
    color: hsla(205, 60%, 75%, 1);
    transition: all 0.2s ease-out;
}

.version:hover,
.version:hover span[role=img] {
    color: hsla(205, 85%, 66%, 1);
    opacity: 0.9;
}

.version .repo {
    padding: 4px;
}

.versionGitData {
    font-family: monospace;
}

.versionDate {
    opacity: 0;
    font-size: 0px;
    transition: all 0.4s ease-out 0.2s;
}

.version:hover .versionDate {
    opacity: 1;
    font-size: inherit;
}

.versionTitle {}

.hoverBorder {
    border-color: transparent;
}

.hoverBorder:hover {
    border-color: unset;
}

.ant-result {
    padding: 1em 2em;
}

.ant-table {
    white-space: nowrap;
}

.whiteSpaceDefault {
    white-space: normal;
}

.nowrap {
    white-space: nowrap;
}

.consumerGroupCompleteID {
    white-space: normal;
    word-break: break-all;
}

.consumerGroupName {
    white-space: nowrap;
}

.consumerGroupSuffix {
    opacity: 0.4;
    white-space: nowrap;
    font-size: 66%;
}

.groupLagDisplayLine {
    font-size: 85%;
    margin-bottom: .2em;
}

.groupLagDisplayLine:not(:last-child) {
    padding-bottom: 0.2em;
    border-bottom: 1px solid #eee;
}

.login {
    display: flex;
    place-content: center;
    place-items: center;
    height: 100vh;
    background: rgb(233, 233, 233);
    font-family: 'Quicksand', sans-serif;
}

.loginContainer {
    width: 970px;
    height: 600px;
    background: #fafafa;
    overflow: overlay;
    box-shadow: 8px 8px 16px 1px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    font-size: 22px;
    line-height: 23px;
    /* or 107% */
    display: flex;
    align-items: center;
    color: #498FC2;
}

.loginContainerRight {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    color: #fafafa;
    text-align: center;
    font-weight: 500;
    padding: 2rem 0;
}

.loginLeft {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
}

.loginRight {
    position: relative;
    height: 100%;
    background: linear-gradient(338.72deg, #0a64a7 0%, #08273e 94.27%) no-repeat;
    opacity: 0.8;
    flex-grow: 1;
    /* background      : url('assets/pattern.png') repeat-x;
    background-position: bottom; */
    /* background      : linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('assets/pattern.png') repeat; */
    overflow-y: hidden;
}

.loginRight::after {
    content: "";
    background: url('assets/pattern3.png') repeat-x 330px bottom;
    background-position-y: 115%;
    mix-blend-mode: hard-light;
    opacity: 35%;
    zoom: 80%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.loginLogo {
    color: #f5f5f5;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    place-items: center;
}

.loginButtonList {
    display: flex;
    place-content: center;
    place-items: center;
    margin-top: 1rem;
}

.loginSeperator {
    margin: 0rem 2rem;
    width: 1px;
    min-height: 100px;
    background: rgba(255, 255, 255, 0.287);
}

.loginButton2 {
    cursor: pointer;
    width: 130px;
    height: 85px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(23, 23, 23);
    background: #3a618899;
    border-radius: 2px;
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
}

.loginButton2 i {
    font-size: 28px;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.loginButton2:hover {
    color: #fff;
    background: hsla(5, 100%, 64%, 1);
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.loginButton2:hover i {
    font-size: 45px;
    color: #fff;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.ant-menu-dark .ant-menu-item a {
    color: hsla(205, 50%, 70%, 60%);
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: hsla(209, 70%, 55%, 0.6);
}

.ant-menu-item-disabled {
    cursor: default;
    user-select: none;
}

.ant-menu-dark .ant-menu-item a::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0deg, 0%, 0%, 0%);
    content: '';
}

.ant-menu-dark .ant-menu-item-disabled a {
    color: hsl(205deg, 50%, 70%) !important;
}

.ant-menu-dark .ant-menu-item-disabled {
    opacity: .5;
}

.ant-menu.ant-menu-root.ant-menu-inline {
    li {
        a {
            // fix vertical alignment of menu items in sidebar
            display: flex;
        }
    }
}

.menu-permission-tooltip {
    user-select: none;

    .ant-tooltip-arrow {
        display: none;
    }
}

.ant-checkbox-wrapper {
    user-select: none;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: hsla(209, 75%, 66%, 1);
    border-color: hsla(209, 50%, 55%, 1);
}

.ant-btn-primary,
.ant-switch-checked {
    background-color: hsla(209, 66%, 55%, 1);
    border-color: transparent;
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: hsla(206, 80%, 55%, 1);
    background: #00b9ff17;
}

.ant-tabs-nav-list {
    width: 100%;
}

.ant-tabs-tab {
    place-content: center;
}

.ant-tabs-ink-bar {
    background-color: hsla(209, 75%, 60%, 1);
}

button.ant-btn-circle>i.anticon:only-child {
    transform: translateY(-2px)
}

tr.tombstone {
    /* background: rgba(200, 200, 200, 0.09); */
    color: rgba(0, 0, 0, 0.25);
}

tr.tombstone .ant-table-row-expand-icon {
    display: none;
}

.kowlCard {
    margin: 0;
    margin-bottom: .75rem;
    padding: 1rem 1.5rem;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.05);
}

.avatarMenu {
    min-width: 150px;
}

.ant-tabs-nav {
    width: 100%;
}

.ant-tabs-nav>div {
    display: flex;
}

.ant-tabs-nav .ant-tabs-tab {
    flex: 1;
    text-align: center;
}

.expandedMessage {
    .ant-tabs-nav {
        .ant-tabs-tab {
            flex: none;
            padding: 0.6em 3.5em;
        }

        .ant-tabs-tab-active {
            background: none;
        }
    }
}

.overflowYOverlay {
    overflow-y: overlay;
}

/* tr td:nth-child(1) {
    padding-left: 30px !important;
}

tr td:nth-last-child(1) {
    padding-right: 30px !important;
} */
.ant-statistic {
    margin-right: 2rem;
}

.noSelect {
    user-select: none;
}

.iconButton {
    transition-duration: 0ms;
    transition-delay: 0ms;
}

.disableAnimation {
    animation-duration: 0s !important;
}

tr button.ant-btn-link {
    opacity: 0;
}

tr:hover button.ant-btn-link {
    opacity: 1;
}

tr button.ant-dropdown-open {
    opacity: 1;
}

// todo: fix table layout (ellipsis, never greater than min-content, only expand one row to let the table fill its parent, expand in predefined ratios, ...)
tr td.ellipsis {
    position: relative;
}

.ellipsis:before {
    content: '&nbsp;';
    visibility: hidden;
}

.ellipsis span {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-table-middle>.ant-table-content>.ant-table-body>table>.ant-table-tbody>tr>td.msgTableActionColumn {
    padding-left: 0;
}

.ant-table.ant-table-middle .ant-table-tbody>tr>td.msgTableActionColumn {
    padding: 0;
}

tr>td.msgTableActionColumn {
    text-align: right;
}

/* Change color of the "filter" button (which changes what columns are displayed)  */
th.msgTableActionColumn .anticon svg {
    min-width: 15px;
}

th.msgTableActionColumn .ant-table-filter-trigger-container {
    /* not sure at all if any of those two lines are a good idea */
    /* background: rgba(0, 0, 0, 0.04); */
    border-left: 1px solid rgba(184, 184, 184, 0.4);
}

.fill {
    width: 100%;
    height: 100%;
}

.roleTitle {
    margin-bottom: 1em;
    /* padding: 0 8px; */
    cursor: default;
    font-size: .7rem;
    font-weight: 600;
    /* todo: use open sans for all "small text" like labels and small headings */
    font-family: "Open Sans";
    color: rgb(139, 139, 139);
    /* border-bottom: solid 1px rgba(0, 0, 0, 0.1); */
}

.ant-table-thead>tr>th.ant-table-cell.ant-table-row-expand-icon-cell {
    padding: 0px;
}

.ant-table-tbody>tr>td.ant-table-cell.ant-table-row-expand-icon-cell {
    padding: 0px;
}

.ant-table-expand-icon-col {
    width: 1px;
}

button.ant-table-row-expand-icon {
    margin-left: 12px;
}

/* Fix: make it possible to configure column width */
td .ant-table-cell {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

tr.consumerGroupNoMemberAssigned {
    color: rgba(0, 0, 0, 0.25);
}

.labelText {
    margin-bottom: 3px;
    margin-left: 1px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.45);
    font-size: 0.7em;
    font-weight: 600;
    text-transform: uppercase;
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 20%) 5%, rgba(0, 0, 0, 0) 100%) bottom no-repeat;
    background-size: 100% 1px; */
    user-select: none;
}

.ant-space-horizontal {
    flex-wrap: wrap;
}

.ant-tabs .ant-tabs-top-content>.ant-tabs-tabpane,
.ant-tabs .ant-tabs-bottom-content>.ant-tabs-tabpane {
    transition-duration: 0.15s;
    transition-timing-function: ease-out
}

@media only screen and (max-width: 1100px) {
    .ant-statistic-title {
        font-size: 12;
    }
}

@media only screen and (max-width: 1100px) {
    .ant-statistic-content {
        font-size: 18px;
        line-height: 1.3;
    }
}

.ant-modal {
    max-height: 80%;
}

.ant-table-column-has-sorters .ant-table-column-sorter {
    color: hsla(0, 0%, 50%, 0.3);
}

.ant-table-column-has-sorters:hover .ant-table-column-sorter {
    color: hsla(0, 0%, 50%, 0.85);
}

.messagesSpecialIconButton {
    padding: 0px 15px;
}

.ant-input-group-compact .messagesSpecialIconButton:not(:first-child) {
    border-left: 1px solid hsla(205, 100%, 90%, 0.5);
}

svg {
    display: inline-block;
    height: 100%;
    margin: auto;
}

.ant-popover {
    .ant-popover-content {
        /* popover is too hard to see on white background */
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.07);

        .ant-popover-inner {
            .ant-popover-title {
                color: hsl(0deg, 0%, 35%);
            }

            .ant-popover-inner-content {
                color: hsl(0deg, 0%, 45%);
            }
        }
    }
}

.ant-progress-status-active .ant-progress-bg::before {
    /* faster, quadratic ease-out */
    animation: ant-progress-active 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

.ant-progress-success-bg,
.ant-progress-bg {
    transition-duration: 0s;
}

.filterTag {
    padding-left: 0;
    cursor: pointer;

    span {
        vertical-align: middle;
        height: 100%
    }
}

.ant-tag.filterTag>.anticon+span {
    margin-left: 0;
}

.filterTag .settingIconFilter,
.filterTag .filterName {
    border-right: 1px solid rgba(184, 184, 184, 0.4);
    padding: 0 6px;
    transition: 0.5 ease;
}

.filterTag .settingIconFilter:hover {
    border-right: 1px solid rgba(184, 184, 184, 0.8);
    background: rgba(206, 206, 206, 0.2);
}

@keyframes ant-progress-active {

    /* improve visibility of animation */
    0% {
        width: 0%;
        opacity: 0;
    }

    10% {
        opacity: 0.6;
    }

    100% {
        width: 100%;
        opacity: 0.2;
    }
}

.ant-message-notice-content {
    /* vertical padding is way too large */
    padding: 4px 16px;
    padding-top: 5px;
    /* shadow is too strong */
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.12), 0 3px 8px 2px rgba(0, 0, 0, 0.04);
    /* */
    border-radius: 3px;
}

.ant-tooltip {
    font-size: 12px;
    max-width: 400px;

    --ant-tooltip-color: hsl(0deg, 0%, 87%);
}


.ant-menu-inline-collapsed-tooltip a {
    color: var(--ant-tooltip-color);
}

.ant-tooltip {
    .ant-tooltip-inner {
        min-height: 20px;
        padding: .5em .75em;
        color: var(--ant-tooltip-color);
        border-radius: 4px;
        background-color: hsla(210, 14%, 20%, 0.9);
        text-align: center;
        font-size: 11px;
        font-family: Verdana, "Segoe UI", Helvetica, sans-serif;
        line-height: 1.5;
    }
}

.ant-tooltip-arrow::before {
    background-color: hsla(210, 14%, 20%, 0.9);
    width: 8px;
    height: 8px;
}

.quickTable {
    text-align: initial;
}

/* Helper classes */
.displayNone {
    display: none;
}

.marginTop1em {
    margin-top: 1em;
}

.marginTop05em {
    margin-top: .5em;
}

.h3 {
    font-weight: 500;
    padding-right: .5em;
    color: rgba(0, 0, 0, 0.85);
    font-size: 1.17em;
}

.inlineFlex {
    display: inline-flex;
}

.marginRight05em {
    margin-right: .5em;
}

.marginRight1em {
    margin-right: 1em;
}

.code-editor-textarea {
    outline: none;
}

.verticalCenter {
    vertical-align: middle;
}

.verticalCenter:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.messageSearchFilterBar .ant-tag {
    padding: 0px 10px;
    border-radius: 50px;
}

.resourceLabel {
    font-weight: 600;
    font-size: 100%;
    color: hsl(0, 0%, 30%);
    font-family: "Open Sans";
    cursor: default;
}

.resourceName {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 90%;
    padding-bottom: 2px;
    display: inline-block;
    padding: 0px 3px;
}

.resourceLabelSub {
    color: #606060;
}

.permissionsList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* Permission "Actions" */
.permissionsList span {
    margin-right: 3px;
    margin-top: 2px;
    padding: 1px 8px;
    font-size: 85%;
    text-transform: capitalize;
    border-radius: 20px;
    background: rgba(124, 211, 255, 0.35);
    color: hsl(208, 32%, 55%);
    border-width: 0;
}

.joinerOr {
    font-size: 80%;
    font-weight: bolder;
    padding-bottom: 4px;
    margin: 0 3px;
    padding: 0 1px;
    font-family: sans-serif;
    text-transform: lowercase;
    background: transparent;
}

.permissionRegex span.codeBox {
    padding: 2px 4px;
    font-size: 12px;
    color: hsl(0, 0%, 40%);
    background: rgb(219, 219, 219);
    border-width: 0px;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
    padding: 6px;
    padding-left: 40px;
}

.roleBindingId {
    font-size: 70%;
    font-weight: 600;
    color: #aaa;
    display: flex;
}

.expander {
    background: none;

    .ant-collapse-item {
        border: 0;
    }
}

.ant-collapse-header {
    user-select: none;
}

.subjectListExpander {
    font-size: 85%;
    padding: 0;
}

.subjectListExpander.ant-collapse>.ant-collapse-item>.ant-collapse-header {
    padding: 0 0 0 24px;
    border-radius: 3px;
    /* border: 1px transparent solid; */
    color: #777;
}

.subjectListExpander.ant-collapse>.ant-collapse-item>.ant-collapse-header:hover {
    /* border-color: hsla(205, 100%, 50%, 0.15); */
    transition-duration: 0ms;
    background-color: hsla(0, 0%, 0%, 0.08);
}

.subjectListExpander.ant-collapse>.ant-collapse-item>.ant-collapse-header span[role=img] {
    left: 8px;
    font-size: 10px;
}

.tableRowHighlightSpecial {
    background-color: rgba(255, 187, 0, 0.185);
}

/* .tableRowHighlightSpecial td:first-child::before {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -30px;
    width: 30px;
    background: red;
} */
.popoverSmall {
    .ant-popover-inner-content {
        /* reduced from 12 16 */
        padding: 8px 16px;
        font-size: 85%;
    }

    .ant-popover-title {
        min-height: 10px;
        font-size: 90%;
    }

    .ant-popover-inner {
        border-radius: 4px;
    }
}

.pageTitle {
    /* background: rgba(255, 0, 0, 0.089); */
}

.ant-breadcrumb {
    /* don't allow wrapping */
    white-space: nowrap;

    a {
        display: inline-block;
        padding: 4px 5px;
        transition-duration: 0ms;

        :hover {
            background-color: #97d4ff3f;
            border-radius: 5px;
        }
    }
}

.ant-page-header.has-breadcrumb {
    padding-top: 18px;
}

.ant-breadcrumb-separator {
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}

.userPreferencesButton {
    opacity: 0.8;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    color: #888;
    background-color: hsla(216, 20%, 92%, 1);
}

.userPreferencesButton:hover {
    opacity: 1;
    background-color: #fff;
}

.userPreferencesButton .octicon {
    transform: rotateZ(45deg);
}

/* ant design menuitem hover is barely visible */
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: hsla(205, 100%, 70%, 1);
}

.ant-menu-item,
.ant-select-item,
.ant-select-item-option {
    transition-duration: 0ms;
}

.ant-select-dropdown {
    /* transition-duration: 0ms; */
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-duration: 100ms;
}

.ant-modal.preferencesDialog {
    width: 75% !important;
    height: 100%;
    max-height: 85%;
    display: inline-flex;
    justify-content: center;
    padding: 0;
}

.preferencesDialog {
    *[display=flex] {
        max-height: 100%;
    }

    .ant-modal-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .ant-modal-body {
        flex-grow: 1;
    }

    .ant-menu-vertical .ant-menu-item {
        height: 32px;
        line-height: 32px;
    }

    .ant-menu-vertical .ant-menu-item:not(:last-child) {
        margin-bottom: 2px;
    }
}

.smallText {
    font-family: "Open Sans", sans-serif;
    font-size: 10.5px;
    padding-left: 2px;
    color: hsla(0, 0%, 40%, 1);
    cursor: default;
}

.hideStatsBarButton {
    opacity: 0;
    transition: opacity 150ms;
    color: #888;
    display: flex;
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 32px;
    transform: translate(-27px, -20px);

    &:hover {
        background: #b0e2ff7a;
        color: hsla(205, 50%, 50%, 1);
    }

    svg {
        vertical-align: baseline;
    }
}

.statisticsBar {
    &:hover {
        .hideStatsBarButton {
            opacity: 1;
        }
    }
}

.filterTagDisabled {
    .filterName {
        text-decoration: line-through rgba(46, 46, 46, 0.66);
    }
}

.messageHeaders {
    border-bottom: 1px solid #ddd;

    thead th.ant-table-cell {
        background: hsla(0deg, 0%, 0%, 0.04);
        padding-top: .5em !important;
        padding-bottom: .5em !important;
    }
}

.noPadding .ant-table-cell {
    padding: 0 !important;

    div.error {
        background: #ffc8c8;
        padding: 8px 16px;
    }

    div.brokerConfigView {
        padding: 16px 16px 8px 16px;

        // .ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-label, .ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-content
        .ant-descriptions-row {

            .ant-descriptions-item-label,
            .ant-descriptions-item-content {
                padding: 6px 16px;
                border-bottom: 1px solid hsl(228, 20%, 92%);
            }

            .ant-descriptions-item-label {
                background: hsl(220, 19%, 95%);
                border-right: 1px solid hsl(228, 20%, 90%);
            }

            .ant-descriptions-item-content {
                max-width: 400px;
                white-space: normal;
                background: hsl(220, 19%, 97%);
            }
        }

        .brokerConfigViewSettings {
            .ant-radio-button-wrapper {
                height: 28px;
                line-height: 26px;
                padding: 0px 14px;
            }
        }
    }

    .codeBox {
        background: hsl(0, 45%, 80%, );
    }
}

.topicDocumentation {
    padding: 0 16px;

    p {
        margin-left: 2px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0.8em;
    }

    pre {
        padding: 12px;
        font-family: monospace;
        font-size: 14px;
        line-height: 1.45;
        color: #333;
        background-color: #f5f8fb;
        border-radius: 3px;
        overflow: auto;
    }

    table {
        margin-bottom: 16px;

        td,
        th {
            padding: 6px 13px;
            border: 1px solid hsl(210deg, 7%, 86%);
        }

        th {
            font-weight: 600;
        }

        th,
        tr:nth-child(2n) {
            background-color: #f5f8fb;
        }
    }
}

.breadcrumbLast {
    display: inline-flex;
    margin-left: .5rem;
    height: 1px;
    font-size: 125%;
    font-weight: 700;
    vertical-align: middle;
    padding-bottom: 6px;
    align-items: center;

    cursor: default;
}

.radioOptionGroup {
    $borderRadius: 8px;

    width: 100%;
    display: flex;
    flex-direction: column;

    border: 1px solid hsl(0deg, 0%, 94%);
    border-radius: $borderRadius;

    user-select: none;

    .ant-radio-wrapper {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        margin: 0;
        display: inline-block;

        // & span:nth-child(1) {
        //     display: inline-block;
        // }

        &>span:nth-child(2) {
            display: contents;
        }
    }

    .ant-radio-wrapper:first-child {
        border-radius: $borderRadius $borderRadius 0px 0px;
    }

    .ant-radio-wrapper:last-child {
        border-radius: 0px 0px $borderRadius $borderRadius;
    }

    .ant-radio-wrapper:not(:last-child) {
        border-bottom: 1px solid hsl(0deg, 0%, 94%);
    }

    .ant-radio-wrapper:hover:not(.ant-radio-wrapper-checked) {
        background: hsl(0deg, 0%, 99%);
    }

    .ant-radio-wrapper-checked {
        background: #e5f7ff;
        box-shadow: 0px 0px 2px 1px #1890ff61;
        z-index: 1;
    }
}



.waitingForMessagesText {
    animation: waitingForMessagesTextPulse 1.5s ease-in-out 0s infinite;
}

@keyframes waitingForMessagesTextPulse {
    0% {
        color: inherit;
    }

    40% {
        color: rgb(79, 173, 245);
    }

    60% {
        color: rgb(79, 173, 245);
    }

    100% {
        color: inherit;
    }
}

.ant-message-notice-content {
    position: relative;
}

.waitingForMessagesBox::before {
    content: ' ';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    border-radius: 4px;
    box-shadow: 0 0 8px 4px #3098e8;

    animation: waitingForMessagesBoxPulseShadow 1.5s ease-in-out 0s infinite;
}

@keyframes waitingForMessagesBoxPulseShadow {
    0% {
        box-shadow: 0 0 4px 1px hsla(206deg, 10%, 85%, 50%);
    }

    50% {
        box-shadow: 0 0 8px 2px #3098e8b0;
    }

    100% {
        box-shadow: 0 0 4px 1px hsla(206deg, 10%, 85%, 50%);
    }
}

.reassignPartitions {
    .ant-steps-item-custom {
        user-select: none;

        .ant-steps-item-icon>.ant-steps-icon {
            font-size: 20px;
        }
    }

    .ant-table-expanded-row th {
        cursor: default;
    }

    .ant-table-expanded-row>td {
        &::before {
            content: ' ';
            display: block;
            position: absolute;
            box-shadow: 0px 0px 3px 0px #000000;
            top: 1px;
            left: 2px;
            right: 2px;
            bottom: 0px;
            z-index: -1;
            border-radius: 2px;
        }

        border-radius: 1px;
    }
}

.nestedTable .ant-table-container tr {

    &:nth-child(2n+1) {
        background: hsl(0deg, 0%, 98%) !important;
    }

    &>th {
        padding: 8px 2px !important;
    }

    &>td {
        padding: 3px 2px !important;
    }
}

// Hide scrollbar when it's not needed
.ant-table-body {
    overflow-y: auto !important;
}


.brokerTagList {
    display: inline-flex;
    gap: 1px;
    border-radius: 4px;
    overflow: hidden;
    background: hsl(0deg, 0%, 85%);

    .ant-tag {
        position: relative;
        border: none;
        // font-size: 13px;
        user-select: none;
        // padding: 1px 9px;
        margin: 0;
        padding: 1px 12px;
        border-radius: 0;
        background: hsl(207deg, 10%, 95%);
        color: hsl(0deg, 0%, 45%);


        &:hover {
            opacity: 1;
        }

        &.offline {
            background: hsl(0deg, 80%, 76%);
            color: hsl(0deg, 80%, 25%);
        }

        // &.offline::before {
        //     content: ' ';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        //     border-bottom: 2px solid dodgerblue;
        // }

        // &.leader::before {
        //     content: ' ';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        //     border-bottom: 2px solid dodgerblue;
        // }
    }
}

table tr th.ant-table-selection-column,
table tr td.ant-table-selection-column {
    width: 1px;
    min-width: 0;
}

.ant-picker-time-panel-column>li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner {
    padding: 0 0 0 14px;
    text-align: unset;
}

mark {
    padding: 1px;
    background-color: hsl(54deg, 100%, 50%);
}

.ant-input-suffix {
    span.ant-input-clear-icon {
        position: relative;

        &::before {
            content: ' ';
            display: block;
            position: absolute;
            top: -66%;
            right: -66%;
            bottom: -66%;
            left: -66%;

            // background: #f004;
        }
    }
}