body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    list-style-type: none;
    background: #f0f2f5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h2 {
    font-size: 1.4em;
}

@mixin tlrb {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin beforeAfter {
    @include tlrb;
    position: absolute;
    content: ' ';
}

.scroll-on-hover-y {
    overflow-y: hidden;
    overflow-x: hidden;
}

.scroll-on-hover-y:hover {
    overflow-y: auto;
}

.cell {
    @include tlrb;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.cell-overflow {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cellDiv {
    display: inline-block;
    /* padding-right: 2em; */
    width: 0;
    min-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: text-bottom;

    position: relative;

    &.fade::after {
        @include beforeAfter;
        left: unset;
        width: 30px;

        background: linear-gradient(to right, transparent, white);
    }
}

/*
	Fixes for react-json-view
*/
/* remove the unneccesary fold-button at the root */
/* .react-json-view>div>div>div>span:first-of-type {
	display: none;
}

.react-json-view>div>div>div>span:last-of-type {
	display: none;
} */
/* - Last two selectors fix the faulty indenting when there's a fold-button */
.icon-container {
    position: absolute;
    width: auto;
    transform: translateX(-80%) translateY(-1px);

    .expanded-icon {
        display: inline-block;
        transform: translateX(-2px);
    }
}

span>.icon-container~span {
    display: inline !important;
}

.node-ellipsis {
    line-height: 0px !important;
}

.object-meta-data {
    user-select: none;
}

/* - fix root indenting */
/* .react-json-view>div>div>div>div>div>div {
	padding-left: 1em !important;
	border-left: 0 !important;
} */
.react-json-view {
    padding-left: 1em;
}

.hoverButton {
    border-color: transparent;
    box-shadow: none;
}

.hoverButton:hover .ant-avatar {
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.showOnHover {
    opacity: 0.2;
}

.showOnHover:hover {
    opacity: 1;
}

.spinnerText {
    user-select: none;
    margin-left: 10px;
}

.spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;

    border: 2px solid transparent;
    border-bottom-color: hsl(205, 100%, 50%);
    border-top-color: hsl(205, 100%, 50%);
    animation:
        rotateIn 1.2s cubic-bezier(0.25, 0.80, 0.9, 0.9) 0s 1,
        rotate 0.7s linear 1.2s infinite,
        spinnerFadeIn 0.5s ease 0s 1;


    @keyframes rotateIn {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(1800deg);
        }
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @keyframes spinnerFadeIn {
        from {
            opacity: 0;
            scale: 120%;
        }

        to {
            opacity: 1;
            scale: 100%;
        }
    }
}


.pulsating {
    animation: pulse 0.5s linear 0s infinite;
}

@keyframes pulse {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
    }

    to {
        transform: 1.0;
    }
}

.fadeIn {
    animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu-divider-group-title {
    color: transparent;
    height: 1px;
    background: #fff2;
    /* margin    : 1em; */
    text-overflow: clip;
    /* font-size : 0; */
    transition: all 0.3s ease-out 0s;
}

.menu-divider {
    color: transparent;
    height: 1px;
    background: #fff2;
    text-overflow: clip;
    transition: all 0.3s ease-out 0s;
    margin: 1em 1em;
}

.cursor-pointer {
    cursor: pointer;
}

.hoverLink:hover {
    cursor: pointer;
    color: hsl(205, 100%, 50%);
}

.pureDisplayRow {
    color: inherit;
}

/* */
/* Table size={'middle} */
/* */
.ant-table-middle {
    /* Header height */
    --headerVertical: 10px;
    /* Row height */
    --padRowHeight: 8px;
    /* Cell horizontal */
    --padCells: 12px;
    /* Outside left/right */
    --padOutside: 16px;
}

.ant-table.ant-table-middle .ant-table-thead>tr>th {
    /* Header: middle (normal + sorter)*/
    padding: var(--headerVertical) var(--padCells);
}

.ant-table.ant-table-middle .ant-table-thead>tr>th:first-child:not(.ant-table-row-expand-icon-cell) {
    /* Header: first (normal + sorter)*/
    padding-left: var(--padOutside);
}

.ant-table.ant-table-middle .ant-table-thead>tr>th:last-child {
    /* Header: last (normal + sorter)*/
    padding-right: var(--padOutside);
}

.ant-table.ant-table-middle .ant-table-thead .ant-table-column-sorters {
    padding: 0;
}

.ant-table.ant-table-middle .ant-table-thead th.ant-table-column-has-sorters {
    padding: var(--headerVertical) var(--padCells);
}

.ant-table.ant-table-middle .ant-table-tbody>tr>td {
    /* Cell: middle */
    padding: var(--padRowHeight) var(--padCells);
}

.ant-table.ant-table-middle .ant-table-tbody>tr>td:first-child:not(.ant-table-row-expand-icon-cell) {
    /* Cell: first */
    padding-left: var(--padOutside);
}

.ant-table.ant-table-middle .ant-table-tbody>tr>td:last-child {
    /* Cell: last */
    padding-right: var(--padOutside);
}

.ant-table-tbody>tr:hover>td {
    transition-duration: 0s, 0s !important;
}

.ant-table-tbody>tr>td {
    transition-duration: 0s, 0s !important;
}

/* never break table headers */
.ant-table-thead>tr>th {
    white-space: nowrap;
}

/* */
/* */
/* Don't clip animated page headers */
.ant-page-header-heading {
    overflow: visible;
}

.ant-table-tbody>tr.ant-table-row:hover>td {
    background-color: unset;
}

td.ant-table-column-sort {
    background-color: unset;
}

.ant-table-tbody>tr.ant-table-row-selected>td {
    background-color: unset;
}

.ant-pagination-total-text {
    font-size: 13px;
    opacity: 80%;
}

.ant-pagination-item {
    border-color: transparent;
    background-color: transparent;
}

.ant-table-pagination.ant-pagination {
    margin-bottom: 4px;
}

/* .ant-pagination-item a {
    color: hsl(205, 100%, 55%)
}
*/
.ant-pagination-item-active a {
    font-weight: bold;
    cursor: default;
}

.fadeIn3d {
    opacity: 1;
    transform: translateY(0) perspective(10em) rotateX(0) scale(1, 1);
    transition: all 0.15s ease-out;
}

.fadeOut3d {
    opacity: 0;
    transform: translateY(.1em) perspective(6em) rotateX(30deg) scale(0.85, 0.85);
    transition: all 0.1s ease-out;
}

.query-form {
    margin-bottom: 1em;
}

.error-list {
    display: flex;
    flex-direction: column;
    gap: 0.7em;

    padding: 2em;
    margin: 1em 0;
    background: hsla(205, 15%, 90%, 1);
    border-radius: 6px;
}

.codeBox {
    display: inline-block;
    margin: 0;
    padding: 0em 0.4em 0em;
    white-space: pre-wrap;
    font-size: 85%;
    font-family: monospace;

    background: rgb(241, 241, 241);
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 3px;
}

.w100 {
    width: 100%;
}

.version {
    padding-bottom: .5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    opacity: 0.2;
}

.version,
.version span[role=img] {
    color: hsla(205, 60%, 75%, 1);
    transition: all 0.2s ease-out;
}

.version:hover,
.version:hover span[role=img] {
    color: hsla(205, 85%, 66%, 1);
    opacity: 0.9;
}

.version .repo {
    padding: 4px;
}

.versionGitData {
    font-family: monospace;
}

.versionDate {
    opacity: 0;
    font-size: 0px;
    transition: all 0.4s ease-out 0.2s;
}

.version:hover .versionDate {
    opacity: 1;
    font-size: inherit;
}

.versionTitle {}

.hoverBorder {
    border-color: transparent;
}

.hoverBorder:hover {
    border-color: unset;
}

.ant-result {
    padding: 1em 2em;
}

.ant-table {
    white-space: nowrap;
}

.whiteSpaceDefault {
    white-space: normal;
}

.nowrap {
    white-space: nowrap;
}

.consumerGroupCompleteID {
    white-space: normal;
    word-break: break-all;
}

.consumerGroupName {
    white-space: nowrap;
}

.consumerGroupSuffix {
    opacity: 0.4;
    white-space: nowrap;
    font-size: 66%;
}

.groupLagDisplayLine {
    font-size: 85%;
    margin-bottom: .2em;
}

.groupLagDisplayLine:not(:last-child) {
    padding-bottom: 0.2em;
    border-bottom: 1px solid #eee;
}

.login {
    display: flex;
    place-content: center;
    place-items: center;
    height: 100vh;
    background: rgb(233, 233, 233);
    font-family: 'Quicksand', sans-serif;
}

.loginContainer {
    width: 970px;
    height: 600px;
    background: #fafafa;
    overflow: overlay;
    box-shadow: 8px 8px 16px 1px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    font-size: 22px;
    line-height: 23px;
    /* or 107% */
    display: flex;
    align-items: center;
    color: #498FC2;
}

.loginContainerRight {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    color: #fafafa;
    text-align: center;
    font-weight: 500;
    padding: 2rem 0;
}

.loginLeft {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
}

.loginRight {
    position: relative;
    height: 100%;
    background: linear-gradient(338.72deg, #0a64a7 0%, #08273e 94.27%) no-repeat;
    opacity: 0.8;
    flex-grow: 1;
    /* background      : url('assets/pattern.png') repeat-x;
    background-position: bottom; */
    /* background      : linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('assets/pattern.png') repeat; */
    overflow-y: hidden;
}

.loginRight::after {
    content: "";
    background: url('assets/pattern3.png') repeat-x 330px bottom;
    background-position-y: 115%;
    mix-blend-mode: hard-light;
    opacity: 35%;
    zoom: 80%;
    @include tlrb;
    z-index: -1;
}

.loginLogo {
    color: #f5f5f5;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    place-items: center;
}

.loginButtonList {
    display: flex;
    place-content: center;
    place-items: center;
    margin-top: 1rem;
}

.loginSeperator {
    margin: 0rem 2rem;
    width: 1px;
    min-height: 100px;
    background: rgba(255, 255, 255, 0.287);
}

.loginButton2 {
    cursor: pointer;
    width: 130px;
    height: 85px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(23, 23, 23);
    background: #3a618899;
    border-radius: 2px;
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
}

.loginButton2 i {
    font-size: 28px;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.loginButton2:hover {
    color: #fff;
    background: hsla(5, 100%, 64%, 1);
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.loginButton2:hover i {
    font-size: 45px;
    color: #fff;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.ant-menu-dark .ant-menu-item a {
    color: hsla(205, 50%, 70%, 60%);
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: hsla(209, 70%, 55%, 0.6);
}

.ant-menu-item-disabled {
    cursor: default;
    user-select: none;
}

.ant-menu-dark .ant-menu-item a::before {
    @include tlrb;
    background-color: hsla(0deg, 0%, 0%, 0%);
    content: '';
}

.ant-menu-dark .ant-menu-item-disabled a {
    color: hsl(205deg, 50%, 70%) !important;
}

.ant-menu-dark .ant-menu-item-disabled {
    opacity: .5;
}

.ant-menu.ant-menu-root.ant-menu-inline {
    li {
        a {
            // fix vertical alignment of menu items in sidebar
            display: flex;
        }
    }
}

.menu-permission-tooltip {
    user-select: none;

    .ant-tooltip-arrow {
        display: none;
    }
}

.ant-checkbox-wrapper {
    user-select: none;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: hsla(209, 75%, 66%, 1);
    border-color: hsla(209, 50%, 55%, 1);
}

.ant-btn-primary,
.ant-switch-checked {
    background-color: hsla(209, 66%, 55%, 1);
    border-color: transparent;
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: hsla(206, 80%, 55%, 1);
    background: #00b9ff17;
}

.ant-tabs-nav-list {
    width: 100%;
}

.ant-tabs-tab {
    place-content: center;
}

.ant-tabs-ink-bar {
    background-color: hsla(209, 75%, 60%, 1);
}

button.ant-btn-circle>i.anticon:only-child {
    transform: translateY(-2px)
}

tr.tombstone {
    /* background: rgba(200, 200, 200, 0.09); */
    color: rgba(0, 0, 0, 0.25);
}

.kowlCard {
    position: relative;
    margin: 0;
    margin-bottom: .75rem;
    padding: 1rem 1.5rem;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.05);
}

.avatarMenu {
    min-width: 150px;
}

.ant-tabs-nav {
    width: 100%;
}

.ant-tabs-nav>div {
    display: flex;
}

.ant-tabs-nav .ant-tabs-tab {
    flex: 1;
    text-align: center;
}

.expandedMessage {
    .ant-tabs-nav {
        .ant-tabs-tab {
            flex: none;
            padding: 0.6em 3.5em;
        }

        .ant-tabs-tab-active {
            background: none;
        }
    }
}

.overflowYOverlay {
    overflow-y: overlay;
}

/* tr td:nth-child(1) {
    padding-left: 30px !important;
}

tr td:nth-last-child(1) {
    padding-right: 30px !important;
} */
.ant-statistic {
    margin-right: 2rem;
}

.noSelect {
    user-select: none;
}

.iconButton {
    transition-duration: 0ms;
    transition-delay: 0ms;
}

.disableAnimation {
    animation-duration: 0s !important;
}

tr button.ant-btn-link {
    opacity: 0;
}

tr:hover button.ant-btn-link {
    opacity: 1;
}

tr button.ant-dropdown-open {
    opacity: 1;
}

// todo: fix table layout (ellipsis, never greater than min-content, only expand one row to let the table fill its parent, expand in predefined ratios, ...)
tr td.ellipsis {
    position: relative;
}

.ellipsis:before {
    content: '&nbsp;';
    visibility: hidden;
}

.ellipsis span {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-table-middle>.ant-table-content>.ant-table-body>table>.ant-table-tbody>tr>td.msgTableActionColumn {
    padding-left: 0;
}

.ant-table.ant-table-middle .ant-table-tbody>tr>td.msgTableActionColumn {
    padding: 0;
}

tr>td.msgTableActionColumn {
    text-align: right;
}

/* Change color of the "filter" button (which changes what columns are displayed)  */
th.msgTableActionColumn .anticon svg {
    min-width: 15px;
}

th.msgTableActionColumn .ant-table-filter-trigger-container {
    /* not sure at all if any of those two lines are a good idea */
    /* background: rgba(0, 0, 0, 0.04); */
    border-left: 1px solid rgba(184, 184, 184, 0.4);
}

.fill {
    width: 100%;
    height: 100%;
}

.roleTitle {
    margin-bottom: 1em;
    /* padding: 0 8px; */
    cursor: default;
    font-size: .7rem;
    font-weight: 600;
    /* todo: use open sans for all "small text" like labels and small headings */
    font-family: "Open Sans";
    color: rgb(139, 139, 139);
    /* border-bottom: solid 1px rgba(0, 0, 0, 0.1); */
}

.ant-table-thead>tr>th.ant-table-cell.ant-table-row-expand-icon-cell {
    padding: 0px;
}

.ant-table-tbody>tr>td.ant-table-cell.ant-table-row-expand-icon-cell {
    padding: 0px;
}

.ant-table-expand-icon-col {
    width: 1px;
}

button.ant-table-row-expand-icon {
    margin-left: 12px;
}

/* Fix: make it possible to configure column width */
td .ant-table-cell {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

tr.consumerGroupNoMemberAssigned {
    color: rgba(0, 0, 0, 0.3);
}

.labelText {
    margin-bottom: 3px;
    margin-left: 1px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.45);
    font-size: 0.7em;
    font-weight: 600;
    text-transform: uppercase;
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 20%) 5%, rgba(0, 0, 0, 0) 100%) bottom no-repeat;
    background-size: 100% 1px; */
    user-select: none;
}

.ant-space-horizontal {
    flex-wrap: wrap;
}

.ant-tabs .ant-tabs-top-content>.ant-tabs-tabpane,
.ant-tabs .ant-tabs-bottom-content>.ant-tabs-tabpane {
    transition-duration: 0.15s;
    transition-timing-function: ease-out
}

@media only screen and (max-width: 1200px) {
    .ant-statistic-title {
        font-size: 12px;
    }

    .ant-statistic-content {
        font-size: 16px;
        line-height: 1.3;
    }
}

.ant-modal {
    max-height: 80%;
}

.ant-table-column-has-sorters .ant-table-column-sorter {
    color: hsla(0, 0%, 50%, 0.3);
}

.ant-table-column-has-sorters:hover .ant-table-column-sorter {
    color: hsla(0, 0%, 50%, 0.85);
}

.messagesSpecialIconButton {
    padding: 0px 15px;
}

.ant-input-group-compact .messagesSpecialIconButton:not(:first-child) {
    border-left: 1px solid hsla(205, 100%, 90%, 0.5);
}

svg {
    display: inline-block;
    height: 100%;
    margin: auto;
}

.ant-popover {
    .ant-popover-content {
        /* popover is too hard to see on white background */
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.07);

        .ant-popover-inner {
            .ant-popover-title {
                color: hsl(0deg, 0%, 35%);
            }

            .ant-popover-inner-content {
                color: hsl(0deg, 0%, 45%);
            }
        }
    }
}

.ant-progress-status-active .ant-progress-bg::before {
    /* faster, quadratic ease-out */
    animation: ant-progress-active 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

.ant-progress-success-bg,
.ant-progress-bg {
    // Don't animate progress (looks strange when it goes smoothly from 100% to 0%)
    transition-duration: 0s;
}

.filterTag {
    padding-left: 0;
    cursor: pointer;

    span {
        vertical-align: middle;
        height: 100%
    }
}

.ant-tag.filterTag>.anticon+span {
    margin-left: 0;
}

.filterTag .settingIconFilter,
.filterTag .filterName {
    border-right: 1px solid rgba(184, 184, 184, 0.4);
    padding: 0 6px;
    transition: 0.5 ease;
}

.filterTag .settingIconFilter:hover {
    border-right: 1px solid rgba(184, 184, 184, 0.8);
    background: rgba(206, 206, 206, 0.2);
}

@keyframes ant-progress-active {

    /* improve visibility of animation */
    0% {
        width: 0%;
        opacity: 0;
    }

    10% {
        opacity: 0.6;
    }

    100% {
        width: 100%;
        opacity: 0.2;
    }
}

.ant-message-notice-content {
    /* vertical padding is way too large */
    padding: 4px 16px;
    padding-top: 5px;
    /* shadow is too strong */
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.12), 0 3px 8px 2px rgba(0, 0, 0, 0.04);
    /* */
    border-radius: 3px;
}

.ant-tooltip {
    font-size: 12px;
    max-width: unset;
    white-space: normal;

    --ant-tooltip-color: hsl(0deg, 0%, 87%);
}


.ant-menu-inline-collapsed-tooltip a {
    color: var(--ant-tooltip-color);
}

.ant-tooltip {
    .ant-tooltip-inner {
        min-height: 20px;
        padding: .5em .75em;
        color: var(--ant-tooltip-color);
        border-radius: 4px;
        background-color: hsla(210, 14%, 20%, 0.9);
        text-align: center;
        font-size: 11px;
        font-family: Verdana, "Segoe UI", Helvetica, sans-serif;
        line-height: 1.5;
    }
}

.ant-tooltip-arrow::before {
    background-color: hsla(210, 14%, 20%, 0.9);
    width: 8px;
    height: 8px;
}

.quickTable {
    text-align: initial;
}

/* Helper classes */
.displayNone {
    display: none;
}

.marginTop1em {
    margin-top: 1em;
}

.marginTop05em {
    margin-top: .5em;
}

.h3 {
    font-weight: 500;
    padding-right: .5em;
    color: rgba(0, 0, 0, 0.85);
    font-size: 1.17em;
}

.inlineFlex {
    display: inline-flex;
}

.marginRight05em {
    margin-right: .5em;
}

.marginRight1em {
    margin-right: 1em;
}

.code-editor-textarea {
    outline: none;
}

.verticalCenter {
    vertical-align: middle;
}

.verticalCenter:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.messageSearchFilterBar .ant-tag {
    padding: 0px 10px;
    border-radius: 50px;
}

.resourceLabel {
    font-weight: 600;
    font-size: 100%;
    color: hsl(0, 0%, 30%);
    font-family: "Open Sans";
    cursor: default;
}

.resourceName {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 90%;
    padding-bottom: 2px;
    display: inline-block;
    padding: 0px 3px;
}

.resourceLabelSub {
    color: #606060;
}

.permissionsList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* Permission "Actions" */
.permissionsList span {
    margin-right: 3px;
    margin-top: 2px;
    padding: 1px 8px;
    font-size: 85%;
    text-transform: capitalize;
    border-radius: 20px;
    background: rgba(124, 211, 255, 0.35);
    color: hsl(208, 32%, 55%);
    border-width: 0;
}

.joinerOr {
    font-size: 80%;
    font-weight: bolder;
    padding-bottom: 4px;
    margin: 0 3px;
    padding: 0 1px;
    font-family: sans-serif;
    text-transform: lowercase;
    background: transparent;
}

.permissionRegex span.codeBox {
    padding: 2px 4px;
    font-size: 12px;
    color: hsl(0, 0%, 40%);
    background: rgb(219, 219, 219);
    border-width: 0px;
}

// .ant-collapse-borderless {
//     background-color: #f7fafc;
// }

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
    padding: 6px;
    padding-left: 40px;
}

.roleBindingId {
    font-size: 70%;
    font-weight: 600;
    color: #aaa;
    display: flex;
}

.expander {
    background: none;

    .ant-collapse-item {
        border: 0;
    }
}

.ant-collapse-header {
    user-select: none;
}

.subjectListExpander {
    font-size: 85%;
    padding: 0;
}

.subjectListExpander.ant-collapse>.ant-collapse-item>.ant-collapse-header {
    padding: 0 0 0 24px;
    border-radius: 3px;
    /* border: 1px transparent solid; */
    color: #777;
}

.subjectListExpander.ant-collapse>.ant-collapse-item>.ant-collapse-header:hover {
    /* border-color: hsla(205, 100%, 50%, 0.15); */
    transition-duration: 0ms;
    background-color: hsla(0, 0%, 0%, 0.08);
}

.subjectListExpander.ant-collapse>.ant-collapse-item>.ant-collapse-header span[role=img] {
    left: 8px;
    font-size: 10px;
}

.tableRowHighlightSpecial {
    background-color: rgba(255, 187, 0, 0.185);
}

/* .tableRowHighlightSpecial td:first-child::before {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -30px;
    width: 30px;
    background: red;
} */
.popoverSmall {
    .ant-popover-inner-content {
        /* reduced from 12 16 */
        padding: 8px 16px;
        font-size: 85%;
    }

    .ant-popover-title {
        min-height: 10px;
        font-size: 90%;
    }

    .ant-popover-inner {
        border-radius: 4px;
    }
}

.pageTitle {
    /* background: rgba(255, 0, 0, 0.089); */
}

.ant-breadcrumb {
    /* don't allow wrapping */
    white-space: nowrap;

    a {
        display: inline-block;
        padding: 4px 5px;
        transition-duration: 0ms;

        :hover {
            background-color: #97d4ff3f;
            border-radius: 5px;
        }
    }
}

.ant-page-header.has-breadcrumb {
    padding-top: 18px;
}

.ant-breadcrumb-separator {
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}

.userPreferencesButton {
    opacity: 0.8;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    color: #888;
    background-color: hsla(216, 20%, 92%, 1);
}

.userPreferencesButton:hover {
    opacity: 1;
    background-color: #fff;
}

.userPreferencesButton .octicon {
    transform: rotateZ(45deg);
}

/* ant design menuitem hover is barely visible */
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: hsla(205, 100%, 70%, 1);
}

.ant-menu-item,
.ant-select-item,
.ant-select-item-option {
    transition-duration: 0ms;
}

.ant-select-dropdown {
    /* transition-duration: 0ms; */
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-duration: 100ms;
}

.ant-modal.preferencesDialog {
    width: 75% !important;
    height: 100%;
    max-height: 85%;
    display: inline-flex;
    justify-content: center;
    padding: 0;
}

.preferencesDialog {
    *[display=flex] {
        max-height: 100%;
    }

    .ant-modal-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .ant-modal-body {
        flex-grow: 1;
    }

    .ant-menu-vertical .ant-menu-item {
        height: 32px;
        line-height: 32px;
    }

    .ant-menu-vertical .ant-menu-item:not(:last-child) {
        margin-bottom: 2px;
    }
}

.smallText {
    font-family: "Open Sans", sans-serif;
    font-size: 10.5px;
    padding-left: 2px;
    color: hsla(0, 0%, 40%, 1);
    cursor: default;
}

.hideStatsBarButton {
    opacity: 0;
    transition: opacity 150ms;
    color: #888;
    display: flex;
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 32px;
    transform: translate(-27px, -20px);

    &:hover {
        background: #b0e2ff7a;
        color: hsla(205, 50%, 50%, 1);
    }

    svg {
        vertical-align: baseline;
    }
}

.statisticsBar {
    &:hover {
        .hideStatsBarButton {
            opacity: 1;
        }
    }

    .ant-row {
        row-gap: 1em;
        flex-wrap: nowrap;
        white-space: nowrap;

        overflow-x: hidden;

        &::after {
            @include beforeAfter;
            left: unset;
            width: 80px;

            background: linear-gradient(to right, transparent, white);
        }
    }
}

.filterTagDisabled {
    .filterName {
        text-decoration: line-through rgba(46, 46, 46, 0.66);
    }
}

.messageHeaders {
    border-bottom: 1px solid #ddd;

    thead th.ant-table-cell {
        background: hsla(0deg, 0%, 0%, 0.04);
        padding-top: .5em !important;
        padding-bottom: .5em !important;
    }
}

.noPadding .ant-table-cell {
    padding: 0 !important;

    div.error {
        background: #ffc8c8;
        padding: 8px 16px;
    }

    div.brokerConfigView {
        padding: 16px 16px 8px 16px;

        // .ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-label, .ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-content
        .ant-descriptions-row {

            .ant-descriptions-item-label,
            .ant-descriptions-item-content {
                padding: 6px 16px;
                border-bottom: 1px solid hsl(228, 20%, 92%);
            }

            .ant-descriptions-item-label {
                background: hsl(220, 19%, 95%);
                border-right: 1px solid hsl(228, 20%, 90%);
            }

            .ant-descriptions-item-content {
                white-space: pre-wrap;
                word-break: break-all;
                background: hsl(220, 19%, 97%);
            }
        }

        .brokerConfigViewSettings {
            .ant-radio-button-wrapper {
                height: 28px;
                line-height: 26px;
                padding: 0px 14px;
            }
        }
    }

    .codeBox {
        background: hsl(0, 45%, 80%, );
    }
}

.topicDocumentation {
    padding: 0 16px;

    p {
        margin-left: 2px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0.8em;
    }

    pre {
        padding: 12px;
        font-family: monospace;
        font-size: 14px;
        line-height: 1.45;
        color: #333;
        background-color: #f5f8fb;
        border-radius: 3px;
        overflow: auto;
    }

    table {
        margin-bottom: 16px;

        td,
        th {
            padding: 6px 13px;
            border: 1px solid hsl(210deg, 7%, 86%);
        }

        th {
            font-weight: 600;
        }

        th,
        tr:nth-child(2n) {
            background-color: #f5f8fb;
        }
    }
}

.breadcrumbLast {
    display: inline-flex;
    margin-left: .5rem;
    height: 1px;
    font-size: 125%;
    font-weight: 700;
    vertical-align: middle;
    padding-bottom: 6px;
    align-items: center;

    cursor: default;
}

.radioOptionGroup {
    $borderRadius: 6px;

    width: 100%;
    display: flex;
    flex-direction: column;

    border: 1px solid hsl(0deg, 0%, 94%);
    border-radius: $borderRadius;

    user-select: none;

    &>.ant-radio-wrapper {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        padding-bottom: 16px;
        margin: 0;
        display: inline-block;

        // & span:nth-child(1) {
        //     display: inline-block;
        // }

        transition: background-color, border-color, box-shadow;
        transition-duration: 200ms;
        transition-timing-function: ease-out;

        &>span:nth-child(2) {
            display: contents;
        }

        &::after {
            display: none !important;
        }
    }

    &>.ant-radio-wrapper:first-child {
        border-radius: $borderRadius $borderRadius 0px 0px;
    }

    &>.ant-radio-wrapper:last-child {
        border-radius: 0px 0px $borderRadius $borderRadius;
    }

    &>.ant-radio-wrapper:not(:last-child) {
        border-bottom: 1px solid hsl(0deg, 0%, 94%);
    }

    &>.ant-radio-wrapper:hover:not(.ant-radio-wrapper-checked) {
        background: hsl(0deg, 0%, 99%);
    }

    &>.ant-radio-wrapper-checked {
        background: hsl(198deg, 100%, 98%);
        box-shadow: 0px 0px 2px 1px hsla(209deg, 100%, 55%, 0.66);
        z-index: 1;
    }

}



.waitingForMessagesText {
    animation: waitingForMessagesTextPulse 1.5s ease-in-out 0s infinite;
}

@keyframes waitingForMessagesTextPulse {
    0% {
        color: inherit;
    }

    40% {
        color: rgb(79, 173, 245);
    }

    60% {
        color: rgb(79, 173, 245);
    }

    100% {
        color: inherit;
    }
}

.ant-message-notice-content {
    position: relative;
}

.waitingForMessagesBox::before {
    @include beforeAfter;

    border-radius: 4px;
    box-shadow: 0 0 8px 4px #3098e8;

    animation: waitingForMessagesBoxPulseShadow 1.5s ease-in-out 0s infinite;
}

@keyframes waitingForMessagesBoxPulseShadow {
    0% {
        box-shadow: 0 0 4px 1px hsla(206deg, 10%, 85%, 50%);
    }

    50% {
        box-shadow: 0 0 8px 2px #3098e8b0;
    }

    100% {
        box-shadow: 0 0 4px 1px hsla(206deg, 10%, 85%, 50%);
    }
}

.reassignPartitions {
    .ant-steps-item-custom {
        user-select: none;

        .ant-steps-item-icon>.ant-steps-icon {
            font-size: 20px;
        }
    }

    .ant-table-expanded-row th {
        cursor: default;
    }

    .ant-table-expanded-row>td {
        &::before {
            content: ' ';
            display: block;
            position: absolute;
            box-shadow: 0px 0px 3px 0px #000000;
            top: 1px;
            left: 2px;
            right: 2px;
            bottom: 0px;
            z-index: -1;
            border-radius: 2px;
        }

        border-radius: 1px;
    }

    // section
    .currentReassignments {
        display: flex;
        place-items: center;
        margin-bottom: .5em;
        gap: .5em;

        .title {
            font-size: 1.17em;
            font-weight: 500;
            color: hsla(0deg, 0%, 0%, 85%);
            margin-left: .2em;
            padding-bottom: 2px;
        }

        button {
            background: hsla(210deg, 100%, 56%, 0.05);

            &:hover {
                background: hsl(210deg, 80%, 95%);
            }
        }
    }
}

.nestedTable .ant-table-container tr {

    &:nth-child(2n+1) {
        background: hsl(0deg, 0%, 98%) !important;
    }

    &>th {
        padding: 8px 2px !important;
    }

    &>td {
        padding: 3px 2px !important;
    }
}

// Hide scrollbar when it's not needed
.ant-table-body {
    overflow-y: auto !important;
}


.brokerTagList {
    display: inline-flex;
    gap: 1px;
    border-radius: 4px;
    background: hsl(0deg, 0%, 85%);

    .broker-tag {
        position: relative;
        border: none;
        // font-size: 13px;
        user-select: none;
        // padding: 1px 9px;
        margin: 0;
        padding: 1px 12px;
        border-radius: 0;
        background: hsl(207deg, 10%, 95%);
        color: hsl(0deg, 0%, 45%);


        &:hover {
            opacity: 1;
        }

        &.offline {
            background: hsl(0deg, 80%, 76%);
            color: hsl(0deg, 80%, 25%);
        }

        &.added {
            // background: hsl(111deg, 82%, 69%);
            color: hsl(111deg, 100%, 34%);

            &::after {
                @include beforeAfter;

                border-radius: 3px;

                border: 0px solid hsl(105deg, 100%, 40%);
                border-bottom-width: 2px;
            }

            // &::before {
            //     content: '+';
            //     position: absolute;
            //     top: -3px;
            //     left: 1px;

            //     width: 14px;
            //     height: 14px;
            //     background: hsl(9deg, 0%, 66%);
            //     border-radius: 100%;

            //     display: flex;
            //     place-content: center;
            //     place-items: center;

            //     color: white;
            //     font-family: 'Open Sans';
            //     font-size: 15px;
            //     font-weight: bold;

            //     padding-bottom: 2px;
            // }

        }



        &.removed {
            color: hsl(15deg, 75%, 60%);
            // box-shadow: inset #ff7054 0px 0px 2px 1px;

            &::after {
                @include beforeAfter;

                border-radius: 3px;

                border: 0px solid hsl(16deg, 100%, 50%);
                border-bottom-width: 2px;
            }
        }


        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

    }
}

table tr th.ant-table-selection-column,
table tr td.ant-table-selection-column {
    width: 1px;
    min-width: 0;
}

.ant-picker-time-panel-column>li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner {
    padding: 0 0 0 14px;
    text-align: unset;
}

mark {
    padding: 1px;
    background-color: hsl(54deg, 100%, 50%);
}

.ant-input-suffix {
    span.ant-input-clear-icon {
        position: relative;

        &::before {
            content: ' ';
            display: block;
            position: absolute;
            top: -66%;
            right: -66%;
            bottom: -66%;
            left: -66%;

            // background: #f004;
        }
    }
}


.partitionReassignmentSpinner {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;

    vertical-align: text-bottom;
    margin-bottom: 1px;

    border: 2px solid hsl(0, 0%, 85%);
    border-bottom-color: hsl(205, 100%, 50%);
    border-top-color: hsl(205, 100%, 50%);
    animation: rotate 1.5s linear 0s infinite;

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

.ant-table-filter-trigger {
    width: 36px;
    background: hsl(0deg, 0%, 94%);
}

.tableInlineSearchBox {
    .ant-input-affix-wrapper {
        // transform-origin: right 50%;
        transform-origin: center center;
        // ease-out ^3
        animation: visible 120ms cubic-bezier(0.19, 1, 0.22, 1) 0ms 1;

        $zoom: 0.96;
        $aspectRatio: 5;
        $initialScale: $zoom, (($zoom - 1) * $aspectRatio) + 1;


        @keyframes visible {
            from {
                opacity: 0;
                // transform: scale(0.95, 0.8) perspective(900px) rotateX(45deg) translateY(8px);
                transform: scale($initialScale);
            }

            to {
                opacity: 1;
                // transform: scale(1.0) perspective(900px) rotateX(0deg) translateY(0px);
                transform: scale(1);
            }
        }

    }
}

.devOnly {
    padding: 1em;
    background: hsl(53deg, 100%, 80%);
}


// table
.activeReassignments {

    // slow animation of progress bar
    .ant-progress-status-active .ant-progress-bg::before {
        animation: ant-progress-active 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    }

    // make rows appear clickable
    tr {
        cursor: pointer;

        &:hover {
            color: hsl(205, 100%, 50%);
            background: hsl(205, 100%, 98%);
        }
    }
}


.ant-menu-dark .ant-menu-item-selected .menuIcon {
    color: hsl(0deg, 0%, 100%);
}

.menuIcon {
    display: inline-flex;
    width: 20px;
    margin-right: 10px;
}



// Container for text that has the tooltip
.tooltip {
    position: relative;
    display: inline-block; // don't expand to fill the container

    // Text shown in the bubble
    .tooltiptext {
        position: absolute;
        z-index: 1;
        visibility: hidden;
        min-width: 60px;

        padding: .5em .75em;
        border-radius: 4px;

        background-color: hsla(210, 14%, 20%, 0.9);
        color: hsl(0, 0%, 87%);
        text-align: center;

        font-size: 11px;
        font-family: Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
        line-height: 1.5;

        // position at top
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);

        // animate
        opacity: 0;
        transition: opacity 150ms 300ms;


        // make tooltip not instantly dissapear when trying to copy from it
        &::after {
            $space: -6px;

            content: ' ';
            position: absolute;
            top: $space;
            left: $space;
            bottom: $space;
            right: $space;
            z-index: -1;
            background: transparent;
        }

    }

    &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    code {
        background: hsl(210deg, 8%, 35%);
        border-radius: 2px;
        padding: 2px 4px;
        line-height: 2;
    }
}

.nbspSeparator {
    white-space: nowrap;
    font-size: 66%;
}

.ant-modal-content {
    border-radius: 4px;

    .ant-modal-header {
        border-radius: 4px;
    }

    .ant-modal-footer {
        button {
            min-width: 8em;
        }
    }
}


.groupDetails {
    .iconButton {
        position: relative;
        display: inline-block;
        color: #9EA6B2;
        width: 20px;
        height: 20px;

        &::after {
            @include beforeAfter;
            border-radius: 2px;
            background-color: transparent;
            margin: -4px;
        }

        // unless disabled...
        &:not(.disabled) {

            // darker color on hover
            &:hover {
                color: #6d727a;

                &::after {
                    background-color: #0001;
                }
            }

            // slight background when pressed
            &:active {
                &::after {
                    background-color: #0002;
                }
            }
        }

        cursor: pointer;
    }
}

// disabled iconButtons use 0.6 opacity
.iconButton.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

// iconButton in a table row is invisible unless hovered
tr:not(:hover) .iconButton {
    opacity: 0;
}


$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);

$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000);

$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);

.crossFade {
    $fadeTimeIn: 400ms;
    $fadeTimeOut: 400ms;
    $fadeTimeHeight: 200ms;

    outline: solid red 2px;

    &-enter {
        position: absolute;
        opacity: 0;
        transform: translateX(-20px) scale(1);
    }


    &-enter-active {
        opacity: 1;

        transition:
            opacity $fadeTimeIn $easeOutCirc,
            transform $fadeTimeIn $easeOutCirc;

        transform: translateX(0) scale(1);
    }

    &-leave {
        position: absolute;
        opacity: 1;
        transform: translateX(0em) scale(1);
    }

    &-leave-active {
        opacity: 0;
        transform: translateX(10px) scale(1);

        transition:
            opacity $fadeTimeOut $easeOutCirc,
            transform $fadeTimeOut $easeOutCirc;
    }


    &-height {
        transition:
            height $fadeTimeHeight $easeOutCirc,
            width $fadeTimeHeight $easeOutCirc;
    }
}


// Reduce paddings for small table
.ant-table.ant-table-small .ant-table-title,
.ant-table.ant-table-small .ant-table-footer,
.ant-table.ant-table-small .ant-table-thead>tr>th,
.ant-table.ant-table-small .ant-table-tbody>tr>td,
.ant-table.ant-table-small tfoot>tr>th,
.ant-table.ant-table-small tfoot>tr>td {
    padding: 6px 8px;
}

.consumerGroupModal {
    &-edit {
        // edit dialog
    }

    &-delete {
        // delete dialog
    }

    .ant-collapse-content-box {
        padding: 8px;
    }

    .ant-table.ant-table-small {

        .ant-table-tbody,
        .ant-table-thead {
            &>tr {

                &.unchanged {
                    color: rgba(0, 0, 0, 0.3);
                }

                &>th.ant-table-cell {
                    padding-left: 10px;
                }

                &>td {
                    padding-top: 5px;
                    padding-bottom: 5px;

                    &:first-child {
                        padding-left: 16px;
                    }
                }

            }
        }


    }

    .ant-table-wrapper {
        .ant-pagination {
            // curent antd has a bug: pagination position 'none' has no effect, so we fix it in css
            display: none;
        }
    }


}

.ant-table.ant-table-small .ant-table-title,
.ant-table.ant-table-small .ant-table-footer,
.ant-table.ant-table-small .ant-table-thead>tr>th,
.ant-table.ant-table-small .ant-table-tbody>tr>td,
.ant-table.ant-table-small tfoot>tr>th,
.ant-table.ant-table-small tfoot>tr>td {
    // color: red;
}


// when a some container containing a radio button is animated,
// it sometimes causes the inner part (the "dot") of a radio button to become misaligned
// adding a perspective transform fixes it (wtf chrome? just do it correctly like firefox...)
.ant-radio-inner {
    transform: perspective(1px);
}