// Dan's overrides for console integration
// - this file is intended to be TEMPORARY
// - these rules can be removed when ant design is removed

// Background color
#mainLayout {
  background: transparent !important;
}

#mainLayout > div {
  margin: 0 !important;
}

body.chakra-ui-dark {
  .statisticsBar {
    background: linear-gradient(to right, transparent, var(--chakra-colors-gray-800));
  }
}
