/* quicksand-regular - latin-ext_latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./quicksand/quicksand-v24-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./quicksand/quicksand-v24-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./quicksand/quicksand-v24-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./quicksand/quicksand-v24-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./quicksand/quicksand-v24-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./quicksand/quicksand-v24-latin-ext_latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
  }
  /* quicksand-500 - latin-ext_latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./quicksand/quicksand-v24-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./quicksand/quicksand-v24-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./quicksand/quicksand-v24-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('./quicksand/quicksand-v24-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
         url('./quicksand/quicksand-v24-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./quicksand/quicksand-v24-latin-ext_latin-500.svg#Quicksand') format('svg'); /* Legacy iOS */
  }
  /* quicksand-600 - latin-ext_latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./quicksand/quicksand-v24-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./quicksand/quicksand-v24-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./quicksand/quicksand-v24-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('./quicksand/quicksand-v24-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
         url('./quicksand/quicksand-v24-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./quicksand/quicksand-v24-latin-ext_latin-600.svg#Quicksand') format('svg'); /* Legacy iOS */
  }
  /* quicksand-700 - latin-ext_latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./quicksand/quicksand-v24-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./quicksand/quicksand-v24-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./quicksand/quicksand-v24-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./quicksand/quicksand-v24-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
         url('./quicksand/quicksand-v24-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./quicksand/quicksand-v24-latin-ext_latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
  }