.filterbar {
    display: flex;
    flex-wrap: wrap;
}

.filters {
    width: calc(100% - 200px);
}

.filterName {
    display: inline-block;
}

.addFilter {
    vertical-align: middle;
    margin-top: -3px;
}

.metaSection {
    margin-left: auto;
    width: 200px; 
    display: flex;
    justify-content: space-between; 
    font-size: 12px; 
    font-weight: 500; 
    padding: 0 5px; 
    align-items: center;
}

.metaSection.isLoading {
    justify-content: center;
}

.spinner {
    width: 12px;
    height: 12px;
}

.spinnerText {
    user-select: none;
    margin-left: 10px;
}