/**
 * Copyright 2022 Redpanda Data, Inc.
 *
 * Use of this software is governed by the Business Source License
 * included in the file https://github.com/redpanda-data/redpanda/blob/dev/licenses/bsl.md
 *
 * As of the Change Date specified in that file, in accordance with
 * the Business Source License, use of this software will be governed
 * by the Apache License, Version 2.0
 */

.filterbar {
    display: flex;
    flex-wrap: wrap;
}

.filters {
    width: calc(100% - 200px);
    display: inline-flex;
    row-gap: 2px;
    flex-wrap: wrap;
}

.filterName {
    display: inline-block;
}

.addFilter {
    vertical-align: middle;
    margin-top: -3px;
}

.metaSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    width: 200px;

    font-size: 12px;
    font-weight: 500;
    padding: 0 5px;

    gap: 6px;
    .bytesIcon {
        color: #1890ff;
    }

    .time {
        margin-left: 20px;
    }

    .timeIcon {
        color: #1890ff;
    }
}

.topicActionsWrapper,
.quickSearch {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topicActionsWrapper {
    margin-left: auto;
}

.quickSearchWrapper {
    margin-left: 1rem;
}

.quickSearchInput {
    width: 200px;
    padding: 2px 8px;
    white-space: nowrap;
    height: 32px;
}
.noMessagesHint {
    max-width: 700px;
    font-size: 13px;

    margin: auto;
    margin-top: 1em;
    margin-bottom: 0.5em;

    padding: 8px 16px;

    background: hsl(40deg 100% 50% / 18%);
    border: 1px solid rgb(255 165 0 / 10%);
    border-radius: 3px;
    color: hsl(40deg 75% 60%);

    text-align: start;

    white-space: normal;

    list-style: disc;


    li {
        margin-left: 1.25em;

        &:not(:last-child) {
            margin-bottom: 0.5em;
        }
    }

}