.fileListContainer {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

.graphView {
	height: 100vh;
	width: 100vw;
}

.savingText {
  color: var(--bstdio-grey);
  font-family: var(--bstdio-monospace);
  font-size: 0.6rem;
  display: inline-block;
  width: 70px;
  overflow: hidden;
}
