.runViewContent {
  padding: 5px;
}

.eventsList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.eventRow {
  padding: 10px;
}

.eventRowOdd {
  background-color: var(--bstdio-code-highlight-background);
}

.eventType {
  font-size: 0.8rem;
  font-weight: bold;
  padding-bottom: 5px;
}

.eventConsume {
  color: var(--bstdio-green);
}

.eventProduce {
  color: var(--bstdio-blue);
}

.eventError {
  color: var(--bstdio-pink);
}

.eventDelete {
  color: var(--bstdio-yellow);
}

.eventLabel {
  color: var(--bstdio-highlight-color);
  font-size: 0.5rem;
  margin-top: 5px;
}

.eventContent {
  font-family: var(--bstdio-monospace);
  overflow: auto;
  font-size: 0.8rem;
  margin: 2px 0px;
}

.eventMetadata {
  font-family: var(--bstdio-monospace);
  overflow: auto;
  font-size: 0.8rem;
  margin: 2px 0px;
  display: flex;
  flex-direction: column;
}

.errorText {
  color: var(--bstdio-pink);
}

.eventMetadataItem {
  display: flex;
  column-gap: 5px;
}

.eventMetadataItemKey {
  font-weight: bold;
}

.eventsListDepID {
  font-size: 0.7rem;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--bstdio-highlight-color);
}

.runOverviewRow {
  display: flex;
  justify-content: space-between;
}

.runOverviewRow > div {
  flex-grow: 1;
}

.runOverviewRow > code {
  flex-grow: 0;
}

.actionNeededTitle {
  text-decoration: underline 2px solid var(--bstdio-pink);
}

.warningText {
  color: var(--bstdio-yellow);
}

.deploymentTracesTitle {
  font-size: 1rem;
  margin-bottom: 5px;
}

.deploymentsListBlurb {
  font-size: 0.8rem;
}

.deploymentsList {
  overflow: auto;
  max-height: 300px;
  margin-bottom: 10px;
}

.deploymentsList > div {
  margin-top: 5px;
  color: var(--bstdio-blue);
}

.deploymentsSummary {
  margin-bottom: 15px;
}

.helpText {
  font-family: var(--bstdio-sansserif);
  font-size: 0.9rem;
}

.testPipelineTitle {
  font-size: 1rem;
  margin-bottom: 5px;
}

.needsActionExample {
  --button-radius: 12px;
  --button-border: 2px;

  font-size: 0.6rem;
  font-weight: bold;
  color: var(--bstdio-white);
  display: inline-block;

  padding: 0;
  margin: 0;

  width: var(--button-radius);
  height: var(--button-radius);
  border-radius: var(--button-radius);

  background: var(--bstdio-yellow);
  border: var(--button-border) solid var(--bstdio-white);
  animation: var(--bstdio-white-glow);
}

.hasEventsExample {
  --button-radius: 12px;
  --button-border: 2px;

  font-size: 0.6rem;
  font-weight: bold;
  color: var(--bstdio-white);
  display: inline-block;

  padding: 0;
  margin: 0;

  width: var(--button-radius);
  height: var(--button-radius);
  border-radius: var(--button-radius);

  background: var(--bstdio-blue);
  border: var(--button-border) solid var(--bstdio-white);
  animation: var(--bstdio-blue-glow);
}

