/**
 * Copyright 2022 Redpanda Data, Inc.
 *
 * Use of this software is governed by the Business Source License
 * included in the file https://github.com/redpanda-data/redpanda/blob/dev/licenses/bsl.md
 *
 * As of the Change Date specified in that file, in accordance with
 * the Business Source License, use of this software will be governed
 * by the Apache License, Version 2.0
 */

.sliderContainer {
    display: flex;
    align-items: center;
}

.sliderValue {
    width: calc(124rem / 16);
    margin-left: 2rem;
    line-height: calc(22rem / 16);
    padding-top: 0;
    padding-bottom: 0;
}

.slider {
    flex-grow: 1;
}

.partitionSelect {
    margin-top: 1em;
}

.twoCol {
    display: grid;
    grid-template-columns: 66px 1fr;
    gap: 30px;
    margin-bottom: 25px;
}